.awards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.awards__list {
  width: 66%;
}

.awards__view {
  width: 33%;
  position: relative;
}

.awards__view img {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  left: 0;
  width: 100%;
}
