@charset "UTF-8";
/* Указываем box sizing */
/* Убираем внутренние отступы */
/* Убираем внешние отступы */
/* Выставляем основные настройки по-умолчанию для body */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
/* Упрощаем работу с изображениями */
/* END CLEANER */
.bg-green1 {
  background-color: #39b791;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red3 {
  background-color: #fd5d0f;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:hover {
  text-decoration: unset;
}

img {
  display: block;
}

body {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: normal;
  margin: 0;
  /*min-height: 100vh;*/
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

button:active,
button :focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

button.prev {
  font-size: 12px;
  position: absolute;
  right: 24px;
  top: -30px;
  width: 20px;
  height: 20px;
  text-align: center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button.next {
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: -30px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1300px) {
  .container {
    width: 100%;
    max-width: 1300px;
  }
}

.to-top {
  margin-top: 90px;
}

@media (min-width: 768px) {
  .to-top {
    margin-top: 120px;
  }
}

@media (min-width: 1000px) {
  .to-top {
    margin-top: 160px;
  }
}

.mt120 {
  margin-top: 120px;
}

.mt80 {
  margin-top: 80px;
}

.bg_bl-4 {
  background-color: #41b6e6;
}

.bg_r-3 {
  background-color: #fd5d0f;
}

.bg_r-2 {
  background-color: #e53838;
}

.bg_r-1 {
  background-color: #b7295a;
}

.bg_gr-2 {
  background-color: #20bf55;
}

.bg_gr-3 {
  background-color: #489c85;
}

.h1 {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 300;
}

@media (min-width: 480px) {
  .h1 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1280px) {
  .h1 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
  }
}

.h2 {
  margin: 0;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: 1px;
  font-weight: 500;
}

.h3 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .h3 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1000px) {
  .h3 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.t1 {
  margin: 0;
  font-size: 16px;
  line-height: 115%;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 1000px) {
  .t1 {
    font-size: 18px;
  }
}

.t2 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .t2 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .t2 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .t2 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

.t3 {
  margin: 0;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .t3 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .t3 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
  }
}

.text1 {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .text1 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .text1 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .text1 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.text2 {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .text2 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .text2 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .text2 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

.text3 {
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0;
  font-weight: 400;
}

@media (min-width: 768px) {
  .text3 {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (min-width: 1280px) {
  .text3 {
    font-size: 12px;
    line-height: 14px;
  }
}

.title {
  padding: 20px 0;
  font-size: 36px;
  line-height: 115%;
  letter-spacing: 1px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 480px) {
  .title {
    letter-spacing: 2px;
    padding: 24px 0;
  }
}

@media (min-width: 768px) {
  .title {
    padding: 32px 0;
  }
}

@media (min-width: 1000px) {
  .title {
    font-size: 36px;
    padding: 40px 0;
  }
}

.t-h {
  color: #fff;
}

.t-d {
  color: #505050;
}

.btn {
  display: block;
  height: 24px;
  font-size: 10px;
  line-height: 115%;
  background-color: transparent;
  border-radius: 0;
  padding: 8px 16px;
  margin: 20px auto;
}

.btn a {
  color: inherit;
}

.btn:focus {
  outline: none;
}

@media (min-width: 480px) {
  .btn {
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px;
    margin: 20px 0 20px auto;
  }
}

@media (min-width: 768px) {
  .btn {
    height: 36px;
    font-size: 16px;
    line-height: 18px;
    padding: 0 24px;
    margin: 32px 0 32px auto;
  }
}

@media (min-width: 1000px) {
  .btn {
    height: 40px;
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .btn {
    height: 48px;
    font-size: 18px;
    line-height: 20px;
    padding: 0 36px;
    margin: 40px 0 40px auto;
  }
}

.btn-h {
  color: white;
  border: 1px solid white;
}

.btn-h:before {
  background: white;
}

.btn-h:hover {
  background-color: white;
  border-color: #005b99;
  color: #005b99;
}

.btn-d {
  color: #505050;
  border: 1px solid #757575;
}

.btn-d:before {
  background: #005b99;
}

.btn-d:hover {
  background-color: #005b99;
  border-color: #005b99;
  color: white;
}

.btn-g {
  color: white;
  border: 1px solid white;
}

.btn-g:before {
  background: white;
}

.btn-g:hover {
  background-color: white;
  border-color: #39b791;
  color: #39b791;
}

@media (min-width: 768px) {
  .btn_to-right {
    -webkit-transition: color 0.3 ease;
    transition: color 0.3 ease;
    position: relative;
    z-index: 0;
  }
  .btn_to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .btn_to-right:hover:before, .btn_to-right:active:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .btn_to-right:hover, .btn_to-right:active {
    background-color: transparent;
  }
}

.btn_up {
  position: fixed;
  bottom: -40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background: #41b6e6;
  z-index: 100;
  -webkit-transition: all .6s;
  transition: all .6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.btn_up:focus {
  outline: none;
}

.btn_up__angle-top {
  color: white;
  font-size: 16px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  line-height: 0;
}

.btn_up.active {
  bottom: 50px;
}

@media (max-width: 768px) {
  .btn_up {
    display: none;
  }
}

.btn-arrow {
  display: inline-block;
  border: 1px solid #757575;
  color: #757575;
  font-size: 12px;
  line-height: 0;
  padding: 8px 8px;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
}

.btn-arrow:focus {
  outline: none;
}

.btn-arrow a {
  color: inherit;
}

@media (min-width: 480px) {
  .btn-arrow {
    font-size: 16px;
  }
}

.btn-arrow-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 360px) {
  .btn-arrow-container .btn-arrow {
    padding: 10px 12px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .btn-arrow-container .btn-arrow {
    padding: 10px 16px;
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .btn-arrow-container .btn-arrow {
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .btn_full-width {
    height: auto;
    font-size: 16px;
    line-height: 115%;
    padding: 8px 16px;
    margin: 30px auto;
    width: 100%;
  }
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.overlay {
  background: linear-gradient(to bottom, #fff 130px, transparent 310px);
  height: 100vh;
  width: 100%;
  z-index: 11;
  position: absolute;
}

.shadow {
  -webkit-box-shadow: 0 2px 3px -2px rgba(50, 50, 50, 0.5);
          box-shadow: 0 2px 3px -2px rgba(50, 50, 50, 0.5);
}

.text-shadow {
  text-shadow: 1px 2px rgba(50, 50, 50, 0.3);
}

.pointer {
  cursor: pointer;
}

.font-thin {
  font-weight: 100;
}

.font-extra-light {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extra-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 700;
}

.bg-green1 {
  background-color: #39b791;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.header {
  background-color: #fff;
  max-height: 60px;
}

.header__social {
  display: none;
}

.header i.icon-close {
  font-size: 18px;
}

.header__social-icons.menu {
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__social-icons.menu .header__social-icon {
  font-size: 32px;
}

.navbar {
  z-index: 1000;
  height: 60px;
}

.navbar a {
  color: #005b99;
}

.navbar-collapse {
  display: block;
  width: 270px;
  height: 100vh;
  position: absolute;
  top: 60px;
  -webkit-transform: translateX(-310px);
          transform: translateX(-310px);
  background-color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 999px) {
  .navbar-collapse {
    -webkit-box-shadow: inset 0px 2px 5px -2px #363636;
            box-shadow: inset 0px 2px 5px -2px #363636;
    padding-top: 15px;
  }
}

.navbar-icon {
  font-size: 20px;
  padding-left: 5px;
}

.navbar-toggler {
  display: block;
  position: relative;
  width: 24px;
  height: 20px;
}

.navbar-toggler:focus, .navbar-toggler:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.navbar-toggler::-moz-focus-inner {
  border: 0 !important;
}

.navbar-toggler span {
  position: absolute;
  background-color: #005b99;
  left: 0;
  width: 100%;
  height: 2px;
  top: 8px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.navbar-toggler::before, .navbar-toggler::after {
  content: '';
  background-color: #005b99;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.navbar-toggler::after {
  top: 0;
}

.navbar-toggler::before {
  bottom: 0;
}

.navbar-toggler.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navbar-toggler.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.navbar-toggler.active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.navbar__sett {
  font-size: 18px;
  margin: 0 10px;
  color: #005b99;
}

.navbar__search {
  font-size: 18px;
}

.navbar__local {
  font-size: 20px;
}

.navbar__form {
  width: 100%;
  padding: 16px;
  position: relative;
}

.navbar__form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #005b99;
  color: #505050;
}

.navbar__form-input::-webkit-input-placeholder {
  color: #d1d1d1;
  font-style: italic;
}

.navbar__form-input:-ms-input-placeholder {
  color: #d1d1d1;
  font-style: italic;
}

.navbar__form-input::-ms-input-placeholder {
  color: #d1d1d1;
  font-style: italic;
}

.navbar__form-input::placeholder {
  color: #d1d1d1;
  font-style: italic;
}

.navbar__form-input::-webkit-search-decoration, .navbar__form-input::-webkit-search-cancel-button, .navbar__form-input::-webkit-search-results-button, .navbar__form-input::-webkit-search-results-decoration {
  display: none;
}

.navbar__form-input:focus {
  outline: none;
}

.navbar__form-btn {
  position: absolute;
  right: 24px;
  color: #005b99;
  cursor: pointer;
}

@media (max-width: 999px) {
  .navbar__form-btn {
    font-size: 20px;
    right: 20px;
  }
}

.navbar-nav {
  padding-bottom: 30px;
}

.navbar .dropdown-toggle {
  cursor: pointer;
}

.navbar .dropdown-menu {
  border: none;
  border-radius: 0;
}

@media (min-width: 1000px) {
  .navbar .dropdown-menu .dropdown-menu {
    -webkit-box-shadow: -2px 0 3px 3px rgba(50, 50, 50, 0.2);
            box-shadow: -2px 0 3px 3px rgba(50, 50, 50, 0.2);
  }
}

.navbar .dropdown-item {
  border-radius: 0;
  padding: 0.5rem 0 0.5rem 1rem;
}

@media (max-width: 999px) {
  .navbar .dropdown-item {
    padding: 0 0 0.5rem 1.2rem;
  }
  .navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
    color: #005b99;
    background-color: white;
  }
}

@media (min-width: 1000px) {
  .navbar .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

@media (min-width: 1000px) {
  .navbar .dropdown > .dropdown-toggle:active {
    pointer-events: none;
  }
}

.navbar a.dropdown-toggle::after {
  display: none;
}

.navbar .nav-item .angle-right {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin-left: 8px;
  color: #daf4fa;
}

@media (max-width: 999px) {
  .navbar .nav-item .angle-right {
    color: #005b99;
    margin-left: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

@media (max-width: 999px) {
  .navbar .nav-item a.show {
    font-weight: 500;
    padding-bottom: 4px;
  }
  .navbar .nav-item a.show i {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@media (min-width: 1000px) {
  .navbar .nav-item > a i {
    display: none;
  }
}

@media (min-width: 1000px) {
  .marginleftfix {
    margin-left: 0 !important;
  }
}

.logo img {
  max-height: 48px;
  margin-left: 16px;
}

@media (min-width: 1000px) {
  ul.navbar-nav .on-hover {
    background-color: #005b99;
  }
  ul.navbar-nav .on-hover a.nav-link {
    color: #ffeb28;
  }
  ul.navbar-nav .on-hover ul {
    background-color: #005b99;
  }
  ul.navbar-nav .on-hover ul a {
    color: #daf4fa;
  }
  ul.navbar-nav .on-hover ul li:hover > a {
    color: #ffeb28;
    background-color: #0662A2;
  }
  ul.navbar-nav .on-hover ul li:hover > a > i {
    color: #ffeb28;
  }
}

@media (max-width: 999px) {
  ul.navbar-nav .show .dropdown-menu a {
    padding-left: 20px;
  }
  ul.navbar-nav .show .dropdown-menu .dropdown-menu a {
    padding-left: 1.5rem;
  }
  ul.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu a {
    padding-left: 1.8rem;
  }
}

.nav-link {
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 22px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .header {
    max-height: 90px;
  }
  .header__social-icons.menu .header__social-icon i {
    font-size: 32px;
  }
  .navbar {
    height: 90px;
  }
  .navbar-collapse {
    top: 90px;
  }
  .navbar i {
    font-size: 18px;
  }
  .navbar .logo {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .navbar .logo img {
    max-height: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 1000px) {
  .navbar {
    height: 120px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar .dropdown-item {
    border-radius: 0;
    padding: 0.5rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  .navbar-collapse {
    display: unset;
    width: unset;
    position: unset;
    height: unset;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: #fff;
    -webkit-transition: unset;
    transition: unset;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
  .navbar .lang__block, .navbar__sett {
    display: none;
    font-size: 28px;
  }
  .navbar__form {
    width: 0px;
    position: absolute;
    right: 50px;
    top: -81px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  .navbar__form.active {
    width: 300px;
    position: absolute;
    right: 50px;
    top: -45px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    opacity: 1;
  }
  .navbar .logo img {
    max-height: 90px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .nav-item:last-child .nav-link {
    padding-right: unset;
  }
  .header {
    max-height: 120px;
  }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 11px;
    z-index: 99999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__social-icons.menu {
    display: none;
  }
  .header__social-icon i {
    color: #005b99;
    padding: 0 6px;
    z-index: 99999;
    display: inline-block;
    font-size: 18px;
  }
}

.scroll_page .navbar {
  height: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll_page .logo img {
  max-height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll_page .header__social {
  top: -49px;
}

.lang {
  outline: none;
  cursor: pointer;
}

.lang:focus {
  border: none;
  outline: none;
}

.lang__block {
  position: relative;
}

.lang__block .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  font-size: 15px;
  color: #005b99;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.lang__block .lang__angle-bottom {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 5px;
  font-size: 12px;
  -webkit-transition: .3s;
  transition: .3s;
}

.lang__block .lang text {
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 10px;
}

.lang__block .slideDown .lang__angle-bottom {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.lang__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  position: absolute;
  z-index: 3;
  max-height: 0;
  overflow: hidden;
  left: 0;
  width: 100%;
  top: 24px;
  -webkit-transition: .3s;
  transition: .3s;
}

.lang__drop.open {
  opacity: 1;
  max-height: 999px;
}

.lang__drop a {
  padding: 8px 8px;
  text-align: center;
  -webkit-transition: .3s all;
  transition: .3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #005b99;
  font-size: 13px;
  font-weight: 500;
  color: #005b99;
  background-color: #daf4fa;
}

.lang__drop a:hover {
  background-color: #005b99;
  color: #ffeb28;
}

.lang__drop a.active {
  display: none;
}

.bg-green1 {
  background-color: #39b791;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.footer {
  margin-top: 40px;
  background-color: #005B99;
  position: relative;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1;
}

.footer__social-icons li {
  font-size: 32px;
  padding: 8px;
}

.footer__social-icons li i {
  color: #fff;
}

.footer__social-icons li a:hover {
  text-decoration: none;
}

.footer__title {
  font-weight: 400;
  color: #fff;
  padding: 20px 0 10px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #d1d1d1;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content a {
  color: #74d2e7;
}

.footer__content a:hover {
  text-decoration: underline;
}

.footer__copy {
  padding: 20px 0;
  color: #999999;
  background-color: #113d6e;
}

.footer__copy a {
  color: #41b6e6;
}

.footer__copy a:hover {
  text-decoration: underline;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__logo:after {
  content: "";
  height: 38px;
  border-right: 2px #fff solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: 197px;
}

.footer__logo-naek {
  height: 38px;
}

.footer__logo-raes {
  height: 38px;
  margin-left: 38px;
}

.footer__link-link {
  margin-bottom: 5px;
}

.footer__link-politic {
  padding-top: 4px;
  line-height: 1;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.footer__trustbox {
  margin-top: 32px;
}

.footer__trustbox img {
  height: 50px;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 60px;
  }
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__content::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url(../images/svg/o_naek_blue.svg);
    background-size: 284px;
    width: 284px;
    height: 244px;
    right: 0px;
    bottom: 70px;
    opacity: 0.25;
  }
  .footer__logo {
    padding-top: 20px;
  }
  .footer__logo:after {
    content: "";
    height: 40px;
    left: 207px;
    top: 20px;
  }
  .footer__logo-naek {
    height: 40px;
  }
  .footer__logo-raes {
    height: 40px;
    margin-left: 40px;
  }
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__trustbox img {
    height: unset;
  }
}

@media (min-width: 1000px) {
  .footer {
    margin-top: 80px;
  }
  .footer__logo:after {
    content: "";
    height: 50px;
    left: 259px;
  }
  .footer__logo-naek {
    height: 50px;
  }
  .footer__logo-raes {
    height: 50px;
    margin-left: 50px;
  }
  .footer__mail {
    width: 30%;
  }
  .footer__link {
    width: 30%;
  }
}

@media (min-width: 1280px) {
  .footer__logo:after {
    content: "";
    height: 60px;
    left: 312px;
  }
  .footer__logo-naek {
    height: 60px;
  }
  .footer__logo-raes {
    height: 60px;
    margin-left: 60px;
  }
}

.leaders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.leaders.allView .leader:nth-child(n+3) {
  display: block;
}

.leaders.allView ~ .btn {
  display: none;
}

.leader {
  width: 100%;
  padding: 12px;
}

.leader__img {
  width: 100%;
}

.leader:first-child, .leader:nth-child(2) {
  width: 100%;
}

.leader__name {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.leader__info {
  color: #757575;
}

.leader:nth-child(n+3) {
  display: none;
}

@media (min-width: 768px) {
  .leader {
    width: 50%;
  }
  .leader:first-child, .leader:nth-child(2) {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .leader {
    width: 33%;
  }
  .leader:first-child, .leader:nth-child(2) {
    width: 100%;
  }
  .leader__name {
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
    cursor: pointer;
  }
  .leader__name:hover {
    color: #005b99;
  }
}
