.bg-green1 {
  background-color: #39b791;
}

.bg-green2 {
  background-color: #20bf55;
}

.bg-green3 {
  background-color: #489c85;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red2 {
  background-color: #e53838;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.bg-grey6 {
  background-color: #eeeeee;
}

.text-blue3 {
  color: #005b99;
}

.text-blue5 {
  color: #74d2e7;
}

.text-grey3 {
  color: #757575;
}

.text-grey4 {
  color: #999999;
}

.hidden {
  display: none !important;
}

.allabout {
  color: #363636;
}

.allabout .backpage {
  font-size: 12px;
  padding: 16px 0 16px 0;
}

.allabout .backpage a {
  margin-left: -5px;
  color: #999999;
}

.allabout .backpage a span {
  font-size: 16px;
  margin-left: 4px;
  font-family: 'Gotham Pro' !important;
}

.allabout .backpage a:hover {
  color: #005b99;
}

.allabout__block {
  position: relative;
}

.allabout__content {
  padding-top: 20px;
  min-height: 300px;
}

.allabout__content .img-info {
  width: 100%;
}

.allabout__content p {
  padding: 0 0 24px 0;
}

@media (min-width: 768px) {
  .allabout__content {
    margin-left: 320px;
    padding-top: 60px;
    min-height: 550px;
  }
  .allabout__content .img-info {
    width: 50vw;
  }
  .allabout__content p {
    padding: 0 0 24px 0;
  }
}

.allabout .about_side_menu {
  z-index: 1005;
  padding: 0;
}

.allabout .about_side_menu-title h2 {
  font-weight: 100;
  padding: 0;
  color: #005b99;
  text-transform: uppercase;
  font-size: 24px;
}

.allabout .about_side_menu-select {
  display: none;
}

@media (max-width: 768px) {
  .allabout .about_side_menu-select {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    color: #505050;
    border: 1px solid #999999;
    margin-top: 30px;
  }
  .allabout .about_side_menu-select > span {
    margin: 8px;
    font-size: 20px;
  }
}

.allabout .about_side_menu-submenu {
  margin-top: 8px;
  text-align: center;
  color: #505050;
}

.allabout .about_side_menu-submenu.not-open-ul > ul {
  display: none;
}

@media (max-width: 768px) {
  .allabout .about_side_menu-submenu {
    cursor: pointer;
  }
}

.allabout .about_side_menu-submenu h3 {
  margin-bottom: 4px;
  font-size: 18px;
  margin: 0;
}

@media (max-width: 768px) {
  .allabout .about_side_menu-submenu h3 {
    text-transform: uppercase;
    font-size: 20px;
  }
}

.allabout .about_side_menu-submenu .angle-down {
  display: none;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-size: 12px;
  padding-top: 3px;
}

.allabout .about_side_menu-submenu .angle-down.show {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

@media (max-width: 768px) {
  .allabout .about_side_menu-submenu .angle-down {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .allabout .about_side_menu-submenu {
    margin-top: 12px;
  }
}

.allabout .about_side_menu-submenu2 ul {
  padding-left: 12px;
  padding-right: 8px;
}

@media (max-width: 768px) {
  .allabout .about_side_menu-submenu2 ul li a {
    color: #757575;
  }
}

.allabout .about_side_menu-submenu2 .angle-down {
  pointer-events: none;
  display: inline-block;
}

.allabout .about_side_menu > ul {
  margin: 30px 0 0 0;
  padding: 0;
  display: none;
}

.allabout .about_side_menu > ul.open {
  display: block;
}

.allabout .about_side_menu li {
  list-style: none;
}

.allabout .about_side_menu li a {
  cursor: pointer;
  color: #363636;
}

.allabout .about_side_menu li a:hover {
  color: #005b99;
}

.allabout .about_side_menu li.active a {
  color: #41b6e6;
}

@media (max-width: 768px) {
  .allabout .about_side_menu li {
    margin: 24px auto;
    font-size: 20px;
  }
  .allabout .about_side_menu li ul {
    padding: 0;
  }
  .allabout .about_side_menu li ul li {
    margin: 8px auto;
  }
  .allabout .about_side_menu li ul:last-child {
    margin-bottom: 16px;
  }
}

.allabout .about_side_menu .icon-up-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.allabout .about_side_menu .icon-up-down i {
  font-size: 10px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (min-width: 768px) {
  .allabout .about_side_menu {
    padding-left: 24px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 120px;
    float: left;
  }
  .allabout .about_side_menu > ul {
    display: block;
  }
  .allabout .about_side_menu-select {
    display: none;
  }
  .allabout .about_side_menu-submenu {
    margin-top: 16px;
    text-align: left;
  }
  .allabout .about_side_menu::before {
    height: 24px;
  }
  .allabout .about_side_menu-current {
    display: none;
  }
}

a {
  color: #41b6e6;
}

.to_top120 {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .to_top120 {
    margin-top: 90px;
  }
}

@media (min-width: 1000px) {
  .to_top120 {
    margin-top: 120px;
  }
}

.about_info_cover {
  padding: 30px 0 60px 0;
  background: url(../images/img/about_info/6_768.jpg) 50% 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

@media (min-width: 768px) {
  .about_info_cover {
    background: url(../images/img/about_info/6_1000.jpg) 50% 80% no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
  }
}

@media (min-width: 1000px) {
  .about_info_cover {
    background: url(../images/img/about_info/6.jpg) 50% 60% no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
  }
}
