@charset "UTF-8";
.bg-green1 {
  background-color: #39b791;
}

.bg-green2 {
  background-color: #20bf55;
}

.bg-green3 {
  background-color: #489c85;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red2 {
  background-color: #e53838;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.bg-grey6 {
  background-color: #eeeeee;
}

.text-blue3 {
  color: #005b99;
}

.text-blue5 {
  color: #74d2e7;
}

.text-grey3 {
  color: #757575;
}

.text-grey4 {
  color: #999999;
}

.article p,
.article img {
  padding-top: 20px;
}

.article .container-full {
  position: relative;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .article .container-full {
    padding-top: 90px;
  }
}

@media (min-width: 1000px) {
  .article .container-full {
    padding-top: 120px;
  }
}

.article__container {
  max-width: 900px;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.article__img {
  height: 300px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article__img-overlay {
  background-image: url(../images/img/grid.png);
  height: 300px;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  top: 60px;
  left: 0;
}

@media (min-width: 768px) {
  .article__img {
    height: 400px;
  }
  .article__img-overlay {
    top: 90px;
    height: 400px;
  }
}

@media (min-width: 1000px) {
  .article__img {
    height: 600px;
  }
  .article__img-overlay {
    height: 600px;
    top: 120px;
  }
}

.article__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
  color: #999999;
}

.article__head-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.article__title {
  color: #005b99;
}

.article__title h1 {
  font-weight: 400;
}

.article__title h2 {
  font-size: 24px;
  padding: 0;
}

@media (min-width: 768px) {
  .article__title h2 {
    font-size: 28px;
    padding: 12px 0;
  }
}

@media (min-width: 1000px) {
  .article__title h2 {
    font-size: 32px;
    padding: 16px 0;
  }
}

.article__text {
  font-size: 16px;
}

.article__text p,
.article__text a {
  font-size: 16px;
}

@media (max-width: 768px) {
  .article__text {
    font-size: 18px;
  }
  .article__text p,
  .article__text a {
    font-size: 18px;
  }
}

.article__quote {
  width: 100vw;
  margin-left: -webkit-calc(-50vw + 50%);
  margin-left: calc(-50vw + 50%);
  background: #daf4fa;
  padding: 0 0 20px 0;
  font-style: italic;
}

.article__quote-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__quote-block > i {
  position: absolute;
  left: -61px;
  top: 24px;
  color: #41b6e6;
  font-size: 40px;
}

.article__quote-text {
  padding-top: 20px;
  font-size: 16px;
}

.article__quote-text p,
.article__quote-text a {
  font-size: 16px;
}

@media (max-width: 768px) {
  .article__quote-text {
    font-size: 18px;
  }
  .article__quote-text p,
  .article__quote-text a {
    font-size: 18px;
  }
}

.article__img-slider {
  margin-top: 40px;
}

.article__img-slider > .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: -30px;
}

.article__img-slider > .slick-dots button {
  padding-right: 5px;
  color: #505050;
}

.article__img-slider > .slick-dots::before {
  content: "Фото";
  padding-right: 16px;
  font-size: 18px;
  color: #999999;
}

.article__img-slid {
  height: 500px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.article__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  color: #505050;
}

.article__footer a {
  color: #005b99;
  border: 1px solid #005b99;
  padding: 0 3px;
}

.article__footer-tags > span {
  font-size: 18px;
  color: #999999;
}

.article__footer-autor {
  font-style: italic;
}

.article__footer-autor span {
  font-style: normal;
  color: #999999;
  font-size: 18px;
}

.article__social {
  font-size: 40px;
  color: #999999;
  text-align: center;
}

.article__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.article__button button {
  padding: 3px;
}

.article__others {
  color: #999999;
}

.article__others > span {
  font-size: 18px;
}

.article__others-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 20px 0;
}

.article__others-item {
  width: 30%;
  border: 1px solid #d1d1d1;
  padding: 5px;
}

.article__others-title {
  color: #005b99;
}

.article__others-title h5 {
  font-weight: 400;
  color: #005b99;
  font-size: 18px;
}

.article__others-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rnpp_lightbox {
  padding: 20px 0;
}

.rnpp_lightbox .pointer {
  cursor: pointer;
}

.rnpp_lightbox .grid-smallphotos {
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 768px) {
  .rnpp_lightbox .grid-smallphotos {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) {
  .rnpp_lightbox .grid-smallphotos {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.rnpp_lightbox .photo_item {
  display: inline-block;
  overflow: hidden;
  height: 80px;
}

.rnpp_lightbox .photo_item-inner {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.rnpp_lightbox .photo_item-show_more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #74d2e7;
  cursor: pointer;
}

.rnpp_lightbox .photo_item-show_more span {
  text-align: center;
  font-size: 16px;
  color: #74d2e7;
  font-weight: 700;
  line-height: 115%;
}

.rnpp_lightbox .photo_item-hidden {
  display: none;
}

@media (min-width: 768px) {
  .rnpp_lightbox .photo_item {
    height: 100px;
  }
  .rnpp_lightbox .photo_item-show_more span {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .rnpp_lightbox .photo_item {
    height: 120px;
  }
  .rnpp_lightbox .photo_item-show_more span {
    font-size: 20px;
  }
}

.rnpp_lightbox .modal {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.95);
}

.rnpp_lightbox .modal .bigphoto-arrow-container {
  display: none;
}

.rnpp_lightbox .modal .caption-container {
  text-align: left;
  padding: 0;
  color: white;
  width: 80%;
  position: absolute;
  top: 8px;
}

.rnpp_lightbox .modal .caption-container span {
  text-shadow: 1px 2px rgba(50, 50, 50, 0.75);
  font-weight: 600;
  font-size: 18px;
}

.rnpp_lightbox .modal-arrow-container {
  display: none;
}

.rnpp_lightbox .modal-smallphotos {
  margin: 0 auto;
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0;
}

.rnpp_lightbox .modal-smallphotos::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

.rnpp_lightbox .modal-smallphotos::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.rnpp_lightbox .modal-smallphotos::-webkit-scrollbar-thumb {
  background: #74d2e7;
}

.rnpp_lightbox .modal-smallphotos::-webkit-scrollbar-thumb:hover {
  background: #41b6e6;
}

.rnpp_lightbox .modal-smallphotos .modal-smallphotos-line {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .rnpp_lightbox .modal-smallphotos .modal-smallphotos-line {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.rnpp_lightbox .modal-smallphotos .modal-smallphotos-line .photo_item {
  height: 80px;
}

@media (min-width: 1280px), (orientation: landscape) {
  .rnpp_lightbox .modal-smallphotos {
    max-width: 1200px;
    overflow: hidden;
    padding-bottom: 16px;
    padding-top: 10px;
  }
  .rnpp_lightbox .modal-smallphotos .modal-smallphotos-line {
    display: block;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .rnpp_lightbox .modal-smallphotos .modal-smallphotos-line::-webkit-scrollbar {
    height: 8px;
    cursor: pointer;
  }
  .rnpp_lightbox .modal-smallphotos .modal-smallphotos-line::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .rnpp_lightbox .modal-smallphotos .modal-smallphotos-line::-webkit-scrollbar-thumb {
    background: #74d2e7;
  }
  .rnpp_lightbox .modal-smallphotos .modal-smallphotos-line::-webkit-scrollbar-thumb:hover {
    background: #41b6e6;
  }
  .rnpp_lightbox .modal-smallphotos .modal-smallphotos-line .photo_item {
    height: 80px;
    width: 100px;
    padding-right: 4px;
  }
}

.rnpp_lightbox .modal-content {
  position: relative;
  margin: 5px auto;
  padding: 0;
  height: 99vh;
  background-color: transparent;
}

.rnpp_lightbox .modal-content .bigphotos {
  height: 100%;
}

.rnpp_lightbox .modal-content .bigphoto {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  min-height: 200px;
  margin: 0 auto;
  display: none;
  padding: 30px 0 10px 0;
}

.rnpp_lightbox .modal-content .bigphoto .numbertext-container {
  display: none;
}

.rnpp_lightbox .modal-content .bigphoto_img {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

.rnpp_lightbox .modal-content .options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.rnpp_lightbox .modal-content .options .numbertext {
  color: white;
  font-size: 18px;
  padding: 0;
}

.rnpp_lightbox .modal-content .options .white {
  color: white;
  border-color: white;
}

@media (max-width: 768px) {
  .rnpp_lightbox .modal-content .options .white:hover, .rnpp_lightbox .modal-content .options .white:active {
    background-color: transparent;
  }
}

@media (min-width: 769px) {
  .rnpp_lightbox .modal .bigphotos {
    position: relative;
  }
  .rnpp_lightbox .modal .bigphotos .bigphoto {
    position: relative;
  }
  .rnpp_lightbox .modal .bigphotos .bigphoto .numbertext-container {
    display: block;
    position: absolute;
    color: white;
    bottom: 24px;
    left: 24px;
  }
  .rnpp_lightbox .modal .bigphotos .bigphoto .numbertext-container span {
    font-size: 24px;
    text-shadow: 1px 2px rgba(50, 50, 50, 0.75);
    font-weight: 600;
  }
  .rnpp_lightbox .modal .bigphotos .bigphoto .caption-container {
    display: block;
    position: absolute;
    margin: 0;
    width: 90%;
    top: 24px;
    left: 24px;
  }
  .rnpp_lightbox .modal .bigphotos .bigphoto .caption-container span {
    font-size: 24px;
  }
  .rnpp_lightbox .modal .bigphotos .bigphoto-arrow-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .rnpp_lightbox .modal .options {
    display: none;
  }
}

.rnpp_lightbox .btn-lightbox {
  color: white;
  line-height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.rnpp_lightbox .btn-lightbox:focus {
  outline: none;
}

.rnpp_lightbox .btn-lightbox a {
  color: inherit;
  font-size: inherit;
}

.rnpp_lightbox .btn-lightbox:before {
  background: #74d2e7;
}

.rnpp_lightbox .btn-lightbox:hover {
  background-color: #74d2e7;
  border-color: #74d2e7;
}

.rnpp_lightbox .btn-lightbox-arrow {
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid white;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.rnpp_lightbox .btn-lightbox-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .rnpp_lightbox .btn-lightbox {
    font-size: 16px;
    padding: 8px;
  }
  .rnpp_lightbox .btn-lightbox-close {
    font-size: 24px;
  }
  .rnpp_lightbox .btn-lightbox-close:hover {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .rnpp_lightbox .btn-lightbox {
    font-size: 20px;
    padding: 10px;
  }
  .rnpp_lightbox .btn-lightbox-close {
    font-size: 24px;
  }
  .rnpp_lightbox .btn-lightbox-close:hover {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  .rnpp_lightbox .btn-lightbox {
    font-size: 24px;
    padding: 12px;
  }
  .rnpp_lightbox .btn-lightbox-close {
    font-size: 30px;
  }
  .rnpp_lightbox .btn-lightbox-close:hover {
    font-size: 24px;
  }
}

@media (min-width: 1400px) {
  .rnpp_lightbox .btn-lightbox {
    margin: 4px -webkit-calc((100vw - 1200px)/4 - 40px);
    margin: 4px calc((100vw - 1200px)/4 - 40px);
  }
}

.rnpp_lightbox .halftransparent {
  opacity: 0.4;
}

.rnpp_lightbox .active, .rnpp_lightbox .halftransparent:hover {
  opacity: 1;
}

.rnpp_lightbox img.hover-shadow {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.rnpp_lightbox .hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);
}

.rnpp-content-hidder {
  overflow: hidden;
}

.rnpp-content-hidder_white-gradient {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(white), to(white));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white, white);
  background: -o-linear-gradient(rgba(255, 255, 255, 0), white, white);
  background: linear-gradient(rgba(255, 255, 255, 0), white, white);
}

.rnpp-content-hidder_cont {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.rnpp-content-hidder_btn {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px;
  margin: 0;
}

.rnpp-content-hidder_btn:active, .rnpp-content-hidder_btn:focus {
  outline: none;
}

.profession_list {
  margin: 12px 0;
  display: none;
}
