.bg-green1 {
  background-color: #39b791;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.bg-green1 {
  background-color: #39b791;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.allabout {
  color: #363636;
}

.allabout__block {
  position: relative;
}

.allabout__content {
  min-height: 550px;
}

.allabout__content p {
  padding: 0 0 24px 0;
}

@media (min-width: 768px) {
  .allabout__content {
    min-height: 550px;
    margin-left: 300px;
  }
  .allabout__content p {
    padding: 0 0 24px 0;
  }
}

.allabout .about_side_menu {
  z-index: 1005;
  padding: 0;
}

.allabout .about_side_menu-title h2 {
  font-weight: 400;
  padding-left: 8px;
}

.allabout .about_side_menu-title h2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 3px;
  background-color: #005b99;
}

.allabout .about_side_menu-select {
  display: block;
  position: relative;
  line-height: 32px;
  text-align: center;
  color: #41b6e6;
}

.allabout .about_side_menu-select:after {
  content: "\21D5";
  position: absolute;
  right: 12px;
  top: 0;
  font-size: 30px;
}

.allabout .about_side_menu-submenu {
  margin-top: 8px;
  text-align: center;
}

.allabout .about_side_menu-submenu h3 {
  line-height: 32px;
}

.allabout .about_side_menu-current {
  display: block;
  position: relative;
  color: #757575;
  line-height: 16px;
  font-size: 14px;
  margin: 10px 0 0 0;
  font-weight: 300;
}

.allabout .about_side_menu .active span {
  color: #41b6e6;
}

.allabout .about_side_menu > ul {
  margin: 8px 0 0 0;
  padding: 0;
  display: none;
}

.allabout .about_side_menu > ul.open {
  display: block;
}

.allabout .about_side_menu li {
  list-style: none;
}

.allabout .about_side_menu li span {
  cursor: pointer;
}

.allabout .about_side_menu li span:hover {
  color: #005b99;
}

.allabout .about_side_menu h3 {
  font-size: 18px;
}

@media (min-width: 768px) {
  .allabout .about_side_menu {
    padding-left: 24px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 120px;
    float: left;
  }
  .allabout .about_side_menu > ul {
    display: block;
  }
  .allabout .about_side_menu-select {
    display: none;
  }
  .allabout .about_side_menu-submenu {
    margin-top: 16px;
    text-align: left;
  }
  .allabout .about_side_menu::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    display: inline-block;
    width: 3px;
    height: 24px;
    background-color: #005b99;
  }
  .allabout .about_side_menu-current {
    display: none;
  }
}

.leaders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.leaders.allView .leader:nth-child(n+3) {
  display: block;
}

.leaders.allView ~ .btn {
  display: none;
}

.leader {
  width: 100%;
  padding: 12px;
}

.leader__img {
  width: 100%;
}

.leader:first-child, .leader:nth-child(2) {
  width: 100%;
}

.leader__name {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.leader__info {
  color: #757575;
}

.leader:nth-child(n+3) {
  display: none;
}

@media (min-width: 768px) {
  .leader {
    width: 50%;
  }
  .leader:first-child, .leader:nth-child(2) {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .leader {
    width: 33%;
  }
  .leader:first-child, .leader:nth-child(2) {
    width: 100%;
  }
  .leader__name {
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
    cursor: pointer;
  }
  .leader__name:hover {
    color: #005b99;
  }
}
