@charset "UTF-8";
.bg-green1 {
  background-color: #39b791;
}

.bg-green2 {
  background-color: #20bf55;
}

.bg-green3 {
  background-color: #489c85;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red2 {
  background-color: #e53838;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.bg-grey6 {
  background-color: #eeeeee;
}

.text-blue5 {
  color: #74d2e7;
}

.news p,
.news img {
  padding-top: 20px;
}

.news__container {
  max-width: 900px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.news__img {
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
  color: #999999;
}

.news__head-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news__title {
  color: #005b99;
}

.news__title h1 {
  font-weight: 400;
}

.news__quote {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: #daf4fa;
  padding: 0 0 20px 0;
  font-style: italic;
}

.news__quote-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__quote-block > i {
  position: absolute;
  left: -61px;
  top: 24px;
  color: #41b6e6;
  font-size: 40px;
}

.news__quote-text {
  padding-top: 20px;
  font-size: 18px;
}

.news__img-slider {
  margin-top: 40px;
}

.news__img-slider > .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: -30px;
}

.news__img-slider > .slick-dots button {
  padding-right: 5px;
  color: #505050;
}

.news__img-slider > .slick-dots::before {
  content: "Фото";
  padding-right: 16px;
  font-size: 18px;
  color: #999999;
}

.news__img-slid {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.news__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  color: #505050;
}

.news__footer a {
  color: #005b99;
  border: 1px solid #005b99;
  padding: 0 3px;
}

.news__footer-tags > span {
  font-size: 18px;
  color: #999999;
}

.news__footer-autor {
  font-style: italic;
}

.news__footer-autor span {
  font-style: normal;
  color: #999999;
  font-size: 18px;
}

.news__social {
  font-size: 40px;
  color: #999999;
  text-align: center;
}

.news__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.news__button button {
  padding: 3px;
}

.news__others {
  color: #999999;
}

.news__others > span {
  font-size: 18px;
}

.news__others-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 20px 0;
}

.news__others-item {
  width: 30%;
  border: 1px solid #d1d1d1;
  padding: 5px;
}

.news__others-title {
  color: #005b99;
}

.news__others-title h5 {
  font-weight: 400;
  color: #005b99;
  font-size: 18px;
}

.news__others-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lang__block {
  position: relative;
}

.lang__block .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  font-size: 15px;
  color: #005b99;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.lang__block .lang i {
  margin: auto 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.lang__block .lang .arrow-down {
  margin-left: 9px;
  font-size: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  width: 12px;
  height: 6px;
  top: 9px;
}

.lang__block .lang .arrow-down span:first-child,
.lang__block .lang .arrow-down :last-child {
  content: '';
  width: 2px;
  height: 7px;
  position: absolute;
  display: block;
}

.lang__block .lang text {
  text-transform: uppercase;
  font-size: 13px;
}

.lang__block .slideDown i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.lang__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  position: absolute;
  z-index: 3;
  min-height: 0;
  overflow: hidden;
  left: 0;
  width: 100%;
  top: 32px;
  -webkit-transition: .3s;
  transition: .3s;
}

.lang__drop.open {
  opacity: 1;
  max-height: 999px;
}

.lang__drop a {
  padding: 8px 8px;
  text-align: center;
  -webkit-transition: .3s all;
  transition: .3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #999999;
  font-size: 13px;
  font-weight: 600;
  color: #005b99;
  background-color: #fff;
}

.lang__drop a:hover {
  background-color: #daf4fa;
}

.lang__drop a.active {
  background-color: #daf4fa;
}
