@charset "UTF-8";
/* Указываем box sizing */
/* Убираем внутренние отступы */
/* Убираем внешние отступы */
/* Выставляем основные настройки по-умолчанию для body */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
/* Упрощаем работу с изображениями */
/* END CLEANER */
.bg-green1 {
  background-color: #39b791;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red3 {
  background-color: #fd5d0f;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, p, li, figure, figcaption, dl, dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:hover {
  text-decoration: unset;
}

img {
  display: block;
}

body {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: normal;
  margin: 0;
  /*min-height: 100vh;*/
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

button:active, button :focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

button.prev {
  font-size: 12px;
  position: absolute;
  right: 24px;
  top: -30px;
  width: 20px;
  height: 20px;
  text-align: center;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button.next {
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: -30px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mt120 {
  margin-top: 120px;
}

.mt80 {
  margin-top: 80px;
}

.bg_bl-4 {
  background-color: #41b6e6;
}

.bg_r-3 {
  background-color: #fd5d0f;
}

.bg_r-2 {
  background-color: #e53838;
}

.bg_r-1 {
  background-color: #b7295a;
}

.bg_gr-2 {
  background-color: #20bf55;
}

.bg_gr-3 {
  background-color: #489c85;
}

.h1 {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 300;
}

@media (min-width: 480px) {
  .h1 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1280px) {
  .h1 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
  }
}

.h2 {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 500;
}

@media (min-width: 480px) {
  .h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .h2 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
}

.h3 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .h3 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1000px) {
  .h3 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.t1 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .t1 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .t1 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .t1 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.t2 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .t2 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .t2 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .t2 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

.t3 {
  margin: 0;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .t3 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .t3 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
  }
}

.text1 {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .text1 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .text1 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .text1 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.text2 {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .text2 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .text2 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .text2 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

.text3 {
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0;
  font-weight: 400;
}

@media (min-width: 768px) {
  .text3 {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (min-width: 1280px) {
  .text3 {
    font-size: 12px;
    line-height: 14px;
  }
}

.title {
  padding: 10px 0;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 480px) {
  .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    padding: 24px 0;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
    padding: 32px 0;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
    padding: 40px 0;
  }
}

.t-h {
  color: #fff;
}

.t-d {
  color: #505050;
}

.btn {
  display: block;
  height: 24px;
  font-size: 10px;
  line-height: 12px;
  background-color: transparent;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 0 8px;
  margin: 20px 0 20px auto;
}

.btn a {
  color: inherit;
}

@media (min-width: 480px) {
  .btn {
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px;
    margin: 20px 0 20px auto;
  }
}

@media (min-width: 768px) {
  .btn {
    height: 36px;
    font-size: 16px;
    line-height: 18px;
    padding: 0 24px;
    margin: 32px 0 32px auto;
  }
}

@media (min-width: 1000px) {
  .btn {
    height: 40px;
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .btn {
    height: 48px;
    font-size: 18px;
    line-height: 20px;
    padding: 0 36px;
    margin: 40px 0 40px auto;
  }
}

.btn-h {
  color: white;
  border: 1px solid white;
}

.btn-h:before {
  background: white;
}

.btn-h:hover {
  background-color: white;
  border-color: #005b99;
  color: #005b99;
}

.btn-d {
  color: #505050;
  border: 1px solid #757575;
}

.btn-d:before {
  background: #005b99;
}

.btn-d:hover {
  background-color: #005b99;
  border-color: #005b99;
  color: white;
}

.btn-g {
  color: white;
  border: 1px solid white;
}

.btn-g:before {
  background: white;
}

.btn-g:hover {
  background-color: white;
  border-color: #39b791;
  color: #39b791;
}

.btn_to-right {
  -webkit-transition: color 0.3 ease;
  -o-transition: color 0.3 ease;
  transition: color 0.3 ease;
  position: relative;
  z-index: 0;
}

.btn_to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.btn_to-right:hover, .btn_to-right:focus, .btn_to-right:active {
  background-color: transparent;
}

.btn_to-right:hover:before, .btn_to-right:focus:before, .btn_to-right:active:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.btn_up {
  position: fixed;
  bottom: -40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background: #41b6e6;
  z-index: 100;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.btn_up:focus {
  outline: none;
}

.btn_up__angle-top {
  color: white;
  font-size: 16px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  line-height: 0;
}

.btn_up.active {
  bottom: 50px;
}

@media (max-width: 768px) {
  .btn_up {
    display: none;
  }
}

.btn-arrow {
  display: inline-block;
  border: 1px solid #757575;
  color: #757575;
  font-size: 10px;
  line-height: 0;
  padding: 8px 8px;
  background-color: transparent;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin: 0;
}

.btn-arrow:focus {
  outline: none;
}

.btn-arrow a {
  color: inherit;
}

@media (min-width: 480px) {
  .btn-arrow {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .btn-arrow {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .btn-arrow {
    font-size: 16px;
  }
}

.btn-arrow-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  background: -webkit-linear-gradient(top, #fff 130px, transparent 310px);
  background: -o-linear-gradient(top, #fff 130px, transparent 310px);
  background: linear-gradient(to bottom, #fff 130px, transparent 310px);
  height: 100vh;
  width: 100%;
  z-index: 11;
  position: absolute;
}

.shadow {
  -webkit-box-shadow: 0 2px 3px -2px rgba(50, 50, 50, 0.5);
          box-shadow: 0 2px 3px -2px rgba(50, 50, 50, 0.5);
}

.text-shadow {
  text-shadow: 1px 2px rgba(50, 50, 50, 0.3);
}

.pointer {
  cursor: pointer;
}

.font-thin {
  font-weight: 100;
}

.font-extra-light {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extra-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 700;
}

.bg-green1 {
  background-color: #39b791;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.header {
  background-color: #fff;
  max-height: 60px;
}

.header__social {
  display: none;
}

.header i.icon-close {
  font-size: 18px;
}

.navbar {
  z-index: 1000;
  height: 60px;
}

.navbar a {
  color: #005b99;
}

.navbar-collapse {
  display: block;
  width: 270px;
  height: 100vh;
  position: absolute;
  top: 60px;
  -webkit-transform: translateX(-310px);
      -ms-transform: translateX(-310px);
          transform: translateX(-310px);
  background-color: #fff;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.navbar-icon {
  font-size: 20px;
  padding-left: 5px;
}

.navbar-toggler {
  padding: 0;
  border: none;
}

.navbar-toggler i {
  color: #005b99;
}

.navbar__sett {
  font-size: 18px;
  margin: 0 10px;
  color: #005b99;
}

.navbar__search {
  font-size: 18px;
}

.navbar__local {
  font-size: 20px;
}

.navbar__form {
  width: 100%;
  padding: 16px;
  position: relative;
}

.navbar__form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #005b99;
  color: #505050;
}

.navbar__form-input::-webkit-input-placeholder {
  color: #d1d1d1;
  font-style: italic;
}

.navbar__form-input:-ms-input-placeholder {
  color: #d1d1d1;
  font-style: italic;
}

.navbar__form-input::-ms-input-placeholder {
  color: #d1d1d1;
  font-style: italic;
}

.navbar__form-input::placeholder {
  color: #d1d1d1;
  font-style: italic;
}

.navbar__form-input::-webkit-search-decoration, .navbar__form-input::-webkit-search-cancel-button, .navbar__form-input::-webkit-search-results-button, .navbar__form-input::-webkit-search-results-decoration {
  display: none;
}

.navbar__form-input:focus {
  outline: none;
}

.navbar__form-btn {
  position: absolute;
  right: 24px;
  color: #005b99;
  cursor: pointer;
}

.navbar-nav {
  padding-bottom: 30px;
}

.navbar .dropdown-toggle {
  cursor: pointer;
}

.navbar .dropdown-menu {
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.navbar .dropdown-menu .dropdown-menu {
  -webkit-box-shadow: -2px 0 3px 3px rgba(50, 50, 50, 0.2);
          box-shadow: -2px 0 3px 3px rgba(50, 50, 50, 0.2);
}

.navbar .dropdown-item {
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 0.5rem 0 0.5rem 0.7rem;
}

.navbar .dropdown-item .angle-right {
  font-size: 10px;
  margin-left: 8px;
  color: #daf4fa;
  height: 10px;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.navbar .dropdown-toggle::after {
  display: none;
}

.marginleftfix {
  margin-left: 0 !important;
}

.logo {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /*margin-left: 18px;*/
}

.logo img {
  max-height: 48px;
  margin-left: 16px;
}

ul.navbar-nav .on-hover {
  background-color: #005b99;
}

ul.navbar-nav .on-hover a.nav-link {
  color: #ffeb28;
}

ul.navbar-nav .on-hover ul {
  background-color: #005b99;
}

ul.navbar-nav .on-hover ul a {
  color: #daf4fa;
}

ul.navbar-nav .on-hover ul li:hover {
  background-color: #0662A2;
}

ul.navbar-nav .on-hover ul li:hover > a,
ul.navbar-nav .on-hover ul li:hover > .angle-right {
  color: #ffeb28;
}

.nav-link {
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 22px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .header {
    max-height: 90px;
  }
  .navbar {
    height: 90px;
  }
  .navbar-collapse {
    top: 90px;
  }
  .navbar-icon {
    margin-left: 20px;
  }
  .navbar i {
    font-size: 18px;
  }
  .navbar .logo {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .navbar .logo img {
    max-height: 60px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 1000px) {
  .navbar {
    height: 120px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar .dropdown-item {
    -webkit-border-radius: 0;
            border-radius: 0;
    padding: 0.5rem 1.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -webkit-flex-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  .navbar .dropdown-item .angle-right {
    font-size: 10px;
    margin-left: 8px;
    color: #daf4fa;
    height: 10px;
  }
  .navbar-collapse {
    display: unset;
    width: unset;
    position: unset;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    background-color: #fff;
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
    -webkit-flex-basis: unset;
        -ms-flex-preferred-size: unset;
            flex-basis: unset;
  }
  .navbar .lang__block, .navbar__sett {
    display: none;
    font-size: 28px;
  }
  .navbar__form {
    width: 0px;
    position: absolute;
    right: 50px;
    top: -81px;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  .navbar__form.active {
    width: 300px;
    position: absolute;
    right: 50px;
    top: -45px;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 1;
  }
  .navbar .logo img {
    max-height: 90px;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
  }
  .nav-item:last-child .nav-link {
    padding-right: unset;
  }
}

@media (min-width: 1000px) {
  .header {
    max-height: 120px;
  }
  .header__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 11px;
    z-index: 99999;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .header__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
  }
  .header__social-icon i {
    color: #005b99;
    padding: 0 6px;
    z-index: 99999;
    display: inline-block;
    font-size: 18px;
  }
}

.scroll_page .navbar {
  height: 60px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.scroll_page .logo img {
  max-height: 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.scroll_page .header__social {
  top: -49px;
}

.lang {
  outline: none;
  cursor: pointer;
}

.lang:focus {
  border: none;
  outline: none;
}

.lang__block {
  position: relative;
}

.lang__block .lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  font-size: 15px;
  color: #005b99;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 5px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.lang__block .lang__angle-bottom {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 5px;
  font-size: 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.lang__block .lang text {
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 10px;
}

.lang__block .slideDown .lang__angle-bottom {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.lang__drop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  position: absolute;
  z-index: 3;
  max-height: 0;
  overflow: hidden;
  left: 0;
  width: 100%;
  top: 24px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.lang__drop.open {
  opacity: 1;
  max-height: 999px;
}

.lang__drop a {
  padding: 8px 8px;
  text-align: center;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #005b99;
  font-size: 13px;
  font-weight: 500;
  color: #005b99;
  background-color: #daf4fa;
}

.lang__drop a:hover {
  background-color: #005b99;
  color: #ffeb28;
}

.lang__drop a.active {
  display: none;
}

.bg-green1 {
  background-color: #39b791;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.footer {
  background-color: #005B99;
  position: relative;
}

.footer__title {
  font-weight: 400;
  color: #fff;
  padding: 20px 0 10px 0;
}

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #d1d1d1;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content::before {
  content: '';
  position: absolute;
  display: block;
  background-image: url(../images/svg/o_naek_blue.svg);
  -webkit-background-size: 284px 284px;
          background-size: 284px;
  width: 284px;
  height: 244px;
  right: 0px;
  bottom: 70px;
  opacity: 0.25;
}

.footer__content a {
  color: #74d2e7;
}

.footer__content a:hover {
  text-decoration: underline;
}

.footer__copy {
  padding: 20px 0;
  color: #999999;
  background-color: #113d6e;
}

.footer__copy a {
  color: #41b6e6;
}

.footer__copy a:hover {
  text-decoration: underline;
}

.footer__logo {
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__logo:after {
  content: "";
  height: 38px;
  border-right: 2px #fff solid;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: 197px;
  top: 20px;
}

.footer__logo-naek {
  height: 38px;
}

.footer__logo-raes {
  height: 38px;
  margin-left: 38px;
}

.footer__link-link {
  margin-bottom: 6px;
}

.footer__link-politic {
  line-height: 1;
}

.footer__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.footer__trustbox {
  margin-top: 32px;
}

.footer__trustbox img {
  height: 50px;
}

@media (min-width: 768px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__logo:after {
    content: "";
    height: 40px;
    left: 207px;
  }
  .footer__logo-naek {
    height: 40px;
  }
  .footer__logo-raes {
    height: 40px;
    margin-left: 40px;
  }
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__trustbox img {
    height: unset;
  }
}

@media (min-width: 1000px) {
  .footer__logo:after {
    content: "";
    height: 50px;
    left: 259px;
  }
  .footer__logo-naek {
    height: 50px;
  }
  .footer__logo-raes {
    height: 50px;
    margin-left: 50px;
  }
  .footer__mail {
    width: 30%;
  }
  .footer__link {
    width: 30%;
  }
}

@media (min-width: 1280px) {
  .footer__logo:after {
    content: "";
    height: 60px;
    left: 312px;
  }
  .footer__logo-naek {
    height: 60px;
  }
  .footer__logo-raes {
    height: 60px;
    margin-left: 60px;
  }
}

.news p,
.news img {
  padding-top: 20px;
}

.news__container {
  max-width: 900px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.news__img {
  height: 800px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
  color: #999999;
}

.news__head-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news__title {
  color: #005b99;
}

.news__title h1 {
  font-weight: 400;
}

.news__quote {
  width: 100vw;
  margin-left: -webkit-calc(-50vw + 50%);
  margin-left: calc(-50vw + 50%);
  background: #daf4fa;
  padding: 0 0 20px 0;
  font-style: italic;
}

.news__quote-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__quote-block > i {
  position: absolute;
  left: -61px;
  top: 24px;
  color: #41b6e6;
  font-size: 40px;
}

.news__quote-text {
  padding-top: 20px;
  font-size: 18px;
}

.news__img-slider {
  margin-top: 40px;
}

.news__img-slider > .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: -30px;
}

.news__img-slider > .slick-dots button {
  padding-right: 5px;
  color: #505050;
}

.news__img-slider > .slick-dots::before {
  content: "Фото";
  padding-right: 16px;
  font-size: 18px;
  color: #999999;
}

.news__img-slid {
  height: 500px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.news__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  color: #505050;
}

.news__footer a {
  color: #005b99;
  border: 1px solid #005b99;
  padding: 0 3px;
}

.news__footer-tags > span {
  font-size: 18px;
  color: #999999;
}

.news__footer-autor {
  font-style: italic;
}

.news__footer-autor span {
  font-style: normal;
  color: #999999;
  font-size: 18px;
}

.news__social {
  font-size: 40px;
  color: #999999;
  text-align: center;
}

.news__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.news__button button {
  padding: 3px;
}

.news__others {
  color: #999999;
}

.news__others > span {
  font-size: 18px;
}

.news__others-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 20px 0;
}

.news__others-item {
  width: 30%;
  border: 1px solid #d1d1d1;
  padding: 5px;
}

.news__others-title {
  color: #005b99;
}

.news__others-title h5 {
  font-weight: 400;
  color: #005b99;
  font-size: 18px;
}

.news__others-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lang__block {
  position: relative;
}

.lang__block .lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  font-size: 15px;
  color: #005b99;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 5px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.lang__block .lang i {
  margin: auto 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.lang__block .lang .arrow-down {
  margin-left: 9px;
  font-size: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
  width: 12px;
  height: 6px;
  top: 9px;
}

.lang__block .lang .arrow-down span:first-child,
.lang__block .lang .arrow-down :last-child {
  content: '';
  width: 2px;
  height: 7px;
  position: absolute;
  display: block;
}

.lang__block .lang text {
  text-transform: uppercase;
  font-size: 13px;
}

.lang__block .slideDown i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.lang__drop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  position: absolute;
  z-index: 3;
  min-height: 0;
  overflow: hidden;
  left: 0;
  width: 100%;
  top: 32px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.lang__drop.open {
  opacity: 1;
  max-height: 999px;
}

.lang__drop a {
  padding: 8px 8px;
  text-align: center;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #999999;
  font-size: 13px;
  font-weight: 600;
  color: #005b99;
  background-color: #fff;
}

.lang__drop a:hover {
  background-color: #daf4fa;
}

.lang__drop a.active {
  background-color: #daf4fa;
}
