.bg-green1 {
  background-color: #39b791;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.text-blue5 {
  color: #74d2e7;
}

section {
  position: relative;
}

.body__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #005b99;
  opacity: 0;
  z-index: 100;
  left: -110vw;
  -webkit-transition: opacity .5s linear .2s;
  transition: opacity .5s linear .2s;
}

/*----slider start----*/
.head-slider__item {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  position: relative;
  overflow: hidden;
}

.head-slider__text {
  height: 200px;
  position: absolute;
  margin: auto;
  z-index: 2;
}

@media (min-width: 320px) {
  .head-slider__text {
    left: 5%;
    bottom: 12%;
  }
}

@media (min-width: 540px) {
  .head-slider__text {
    left: 5%;
    bottom: 20%;
  }
}

@media (min-width: 1000px) {
  .head-slider__text {
    left: 10%;
    bottom: 25%;
  }
}

@media (min-width: 1000px) {
  .head-slider__text {
    left: 7%;
    bottom: 25%;
  }
}

.head-slider__text span {
  font-family: Gotham Pro;
  font-weight: 700;
  font-style: italic;
  line-height: 115%;
  color: #f5f5e8;
}

@media (min-width: 320px) {
  .head-slider__text span {
    font-size: calc(32px + 24*((100vw - 320px)/280));
  }
}

@media (min-width: 600px) {
  .head-slider__text span {
    font-size: 60px;
  }
}

@media (min-width: 1000px) {
  .head-slider__text span {
    font-size: calc(60px + 12*((100vw - 1000px)/280));
    letter-spacing: 3px;
  }
}

@media (min-width: 1280px) {
  .head-slider__text span {
    font-size: calc(72px + 18*((100vw - 1280px)/640));
    letter-spacing: 4px;
  }
}

@media (min-width: 1920px) {
  .head-slider__text span {
    font-size: 90px;
    letter-spacing: 5px;
  }
}

.head-slider__overlay {
  background-image: url(../images/img/grid.png);
  height: 100vh;
  width: 100%;
  position: absolute;
  opacity: 0.3;
}

.head-slider .slick-track {
  top: 60px;
  height: 100%;
}

.head-slider .slick-dots {
  width: 100%;
  position: absolute;
  bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head-slider .slick-dots li button {
  font-size: 0;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.head-slider .slick-dots li button::before {
  content: "";
  width: 32px;
  height: 12px;
  border: 2px solid #fff;
  /*border-radius: 50%;*/
  display: inline-block;
}

.head-slider li.slick-active button::before {
  background-color: #fff;
}

/*----head-slider end----*/
/*----info start----*/
.info {
  display: none;
  max-height: 600px;
  overflow: hidden;
}

.info > div {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-row-end: auto;
  grid-column-end: auto;
}

.info .slick-slide img {
  height: auto;
}

@media (min-width: 1280px) {
  .info .slick-slide img {
    height: 300px;
  }
}

.info .slick-track,
.info .slick-list,
.info .slick-slide > div {
  height: 100%;
}

.info__parallax-slider {
  height: 100%;
  width: 100vw;
}

.info__parallax-item {
  background-attachment: fixed;
  background-size: cover;
  max-height: 550px;
  min-height: 20px;
  height: 100%;
  width: 100%;
}

.info__container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.info__parallax-content {
  margin: 0;
  max-height: 550px;
  max-width: 1280px;
}

@media (max-width: 1280px) {
  .info__parallax-content {
    max-width: calc(100vw - 15px);
  }
}

.info__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__item {
  width: 100%;
  max-width: 1240px;
  max-height: 300px;
}

.info__statistic {
  width: 100%;
  height: 100%;
  max-height: 300px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__statistic-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  width: 32%;
  margin: 0;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .info__statistic-item {
    width: 32.5%;
  }
}

@media (min-width: 1240px) {
  .info__statistic-item {
    width: 33%;
  }
}

.info__statistic-content .text,
.info__statistic-content .odin {
  font-weight: 500;
  font-style: italic;
}

.info__statistic-content .pokaz {
  font-weight: 900;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .info__statistic-content {
    max-width: calc(94% - 14*((100vw - 768px)/512));
  }
  .info__statistic-content .odin {
    font-size: calc(12px + 4*((100vw - 768px)/512));
  }
  .info__statistic-content .pokaz {
    font-size: calc(16px + 4*((100vw - 768px)/512));
  }
}

@media (min-width: 1280px) {
  .info__statistic-content {
    max-width: 80%;
  }
  .info__statistic-content .odin {
    font-size: 16px;
  }
  .info__statistic-content .pokaz {
    font-size: 20px;
  }
}

.info__statistic_title {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 768px) {
  .info__statistic_title {
    font-size: calc(16px + 4*((100vw - 768px)/512));
    padding-top: calc(20px + 10*((100vw - 768px)/512));
    padding-bottom: calc(10px + 6*((100vw - 768px)/512));
  }
}

@media (min-width: 1280px) {
  .info__statistic_title {
    font-size: 20px;
    padding: 30px 0 16px 0;
  }
}

/*----info end----*/
/*----widget start----*/
.widget {
  background-color: #39b791;
  color: #fff;
}

.widget .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  margin-left: -12px;
}

.widget .slick-dots li button {
  width: calc(100vw/3);
  height: 60px;
}

.widget .slick-dots li button::before {
  content: "";
  background: white;
  position: absolute;
  z-index: 1;
  top: 0;
  left: unset;
  width: calc(100vw/3);
  height: 3px;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform: translateX(calc(-100vw/6)) scaleX(0);
          transform: translateX(calc(-100vw/6)) scaleX(0);
}

.widget .slick-dots li button:hover:before {
  -webkit-transform: translateX(calc(-100vw/6)) scaleX(1);
          transform: translateX(calc(-100vw/6)) scaleX(1);
}

@media (max-width: 480px) {
  .widget .slick-dots li button {
    height: 50px;
  }
}

.widget .slick-dots li.slick-active button::before {
  -webkit-transform: translateX(calc(-100vw/6)) scaleX(1);
          transform: translateX(calc(-100vw/6)) scaleX(1);
}

.widget span {
  padding-bottom: 2px;
  padding-left: 2px;
}

@media (max-width: 768px) {
  .widget__co2 {
    padding-bottom: 4px;
  }
}

.widget button.prev {
  font-size: 12px;
  position: absolute;
  right: 24px;
  top: 16px;
  width: 20px;
  height: 20px;
  text-align: center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget button.next {
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 16px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget__slider {
  padding-top: 64px;
}

.widget__slider .text,
.widget__slider .odin {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

.widget__slider .pokaz {
  font-size: 20px;
  font-weight: 900;
  margin-right: 10px;
  line-height: 1.2;
}

.widget__slider-title {
  font-size: 18px;
  line-height: 1.2;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 0 16px 0;
}

.widget__slider-title:not(:first-child) {
  padding-top: 16px;
}

@media (min-width: 480px) {
  .widget__slider-title {
    font-size: 22px;
  }
  .widget .text {
    font-size: 22px;
  }
  .widget .pokaz {
    font-size: 22px;
    font-weight: 400;
  }
  .widget .odin {
    font-size: 18px;
  }
  .widget .slick-track > div {
    padding-top: unset;
  }
}

@media (min-width: 768px) {
  .widget {
    position: absolute;
    top: 50vh;
    right: 0;
    margin-top: -110px;
    width: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .widget__slider {
    margin: 0px;
    padding: 12px 0;
  }
  .widget__title {
    display: none;
  }
  .widget .slick-dots {
    position: absolute;
    top: 0;
    left: -80px;
    width: 60px;
  }
  .widget .slick-track {
    width: 864px !important;
  }
  .widget .slick-slide {
    width: 288px !important;
  }
  .widget .text {
    font-size: 16px;
  }
  .widget .pokaz {
    font-size: 22px;
    font-weight: 500;
  }
  .widget .odin {
    font-size: 16px;
  }
  .widget .slick-dots {
    display: block;
    margin-left: 0px;
  }
  .widget .slick-dots li button {
    width: 60px;
    height: 60px;
  }
  .widget .slick-dots li button::before {
    content: "";
    background: white;
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: unset;
    width: 4px;
    height: 60px;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform: translateY(-30px) scaleY(0);
            transform: translateY(-30px) scaleY(0);
  }
  .widget .slick-dots li button:hover:before, .widget .slick-dots li button:focus:before {
    -webkit-transform: translateY(-30px) scaleY(1);
            transform: translateY(-30px) scaleY(1);
    opacity: 1;
  }
  .widget .slick-dots li.slick-active button::before {
    -webkit-transform: translateY(-30px) scaleY(1);
            transform: translateY(-30px) scaleY(1);
  }
}

#slick-slide-control00 {
  background-color: #39b791;
  background-image: url(../images/svg/widget_battery.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
  font-size: 0;
  cursor: pointer;
}

#slick-slide-control00:focus {
  outline: none;
}

@media (max-width: 480px) {
  #slick-slide-control00 {
    background-size: 30px;
  }
}

#slick-slide-control01 {
  background-color: #009a31;
  background-image: url(../images/svg/widget_lyst.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
  font-size: 0;
  cursor: pointer;
}

#slick-slide-control01:focus {
  outline: none;
}

@media (max-width: 480px) {
  #slick-slide-control01 {
    background-size: 30px;
  }
}

#slick-slide-control02 {
  background-color: #41b6e6;
  background-image: url(../images/svg/widget_cloud.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  font-size: 0;
  cursor: pointer;
}

#slick-slide-control02:focus {
  outline: none;
}

@media (max-width: 480px) {
  #slick-slide-control02 {
    background-size: 34px;
  }
}

/*----widget end----*/
/*----about start----*/
.about p {
  margin-bottom: 10px;
}

.about__wrap {
  background-color: #005b99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
}

.about__wrap::before {
  content: '';
  min-width: 50%;
  background-image: url(../images/img/about.jpg);
  background-size: cover;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  display: none;
}

.about__content {
  padding: 0 15px;
  color: #fff;
  position: relative;
}

.about__text {
  font-size: 16px;
}

@media (min-width: 768px) {
  .about__wrap::before {
    display: block;
  }
  .about__content {
    padding: 0 36px 0 36px;
    max-width: 635px;
  }
}

/*----about end----*/
/*----news start----*/
.news__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: o auto;
  border: 1px solid #F5F5F5;
  background-clip: padding-box;
}

.news__items:hover {
  -webkit-box-shadow: 0px 3px 5px 3px rgba(50, 50, 50, 0.1);
          box-shadow: 0px 3px 5px 3px rgba(50, 50, 50, 0.1);
}

.news__item {
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.news__item-type {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  color: white;
  font-size: 16px;
  padding: 0px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__item-type i {
  margin-right: 6px;
  font-size: 12px;
}

.news__item.anons:hover::after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #39b791;
  position: absolute;
  bottom: 0;
}

.news__item.important:hover::after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #fd5d0f;
  position: absolute;
  bottom: 0;
}

.news__item.video:hover::after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #b7295a;
  position: absolute;
  bottom: 0;
}

.news__item.simplenews:hover::after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #005b99;
  position: absolute;
  bottom: 0;
}

.news__item.newspaper:hover::after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #41b6e6;
  position: absolute;
  bottom: 0;
}

.news__item-title {
  height: 110px;
}

.news__item-title h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #757575;
  padding: 10px;
}

.news__item-date {
  color: #d1d1d1;
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 16px;
}

.news__item-img {
  display: block;
  height: 250px;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-position: 50% 50%;
}

@media (min-width: 1000px) {
  .news__items {
    width: 32.5%;
  }
}

/*----news end----*/
/*----why start----*/
.why {
  background-color: #39b791;
}

.why a {
  color: #fff;
}

.why__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 10px 25px 0;
  color: #fff;
}

.why__item-icon {
  margin: -5px 15px 0 0;
  display: inline-block;
  text-align: center;
}

.why__item-icon-img {
  background-size: 55px;
  max-width: 55px;
  height: 50px;
}

.why__item-title h3 {
  color: #fff;
  margin: 0 0 8px 0;
  font-family: 'Gotham Pro';
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .why__item-title h3 {
    margin-bottom: 4px;
  }
}

@media (max-width: 480px) {
  .why__item-title h3 {
    margin-bottom: 2px;
  }
}

.why__item-text {
  color: #fff;
}

@media (min-width: 768px) {
  .why__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .why__item {
    width: 50%;
  }
  .why__item-icon-img {
    background-size: 75px;
    max-width: 75px;
    height: 70px;
  }
}

@media (min-width: 1000px) {
  .why__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .why__item {
    width: 33%;
  }
}

/*----why end----*/
/*----gromadi start----*/
.people __wrap {
  margin-bottom: 15px;
  max-height: 1280px;
}

.people__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.people__item {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.people__item:hover .people__item-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.people__item-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.people__item-title {
  text-align: center;
  color: #fff;
  position: absolute;
  right: 16px;
  bottom: 16px;
  padding: 2px 8px;
  pointer-events: none;
}

.people__item-title h3 {
  font-weight: 400;
}

.people__item-padding {
  height: 240px;
  position: relative;
  margin-bottom: 1.125%;
  width: 100%;
}

@media (min-width: 768px) {
  .people__item-padding {
    width: 48.5%;
  }
}

@media (min-width: 1000px) {
  .people__item-padding {
    width: 32.5%;
  }
}

/*----gromadi end----*/
.section-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-top-row .btn-arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1000px) {
  .section-top-row .btn-arrow-container {
    display: none;
  }
}
