@charset "UTF-8";
/* Указываем box sizing */
/* Убираем внутренние отступы */
/* Убираем внешние отступы */
/* Выставляем основные настройки по-умолчанию для body */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
/* Упрощаем работу с изображениями */
/* END CLEANER */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, p, li, figure, figcaption, dl, dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:hover {
  text-decoration: unset;
}

img {
  display: block;
}

body {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: normal;
  margin: 0;
  /*min-height: 100vh;*/
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

button:active, button :focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

button.prev {
  font-size: 12px;
  position: absolute;
  right: 24px;
  top: -30px;
  width: 20px;
  height: 20px;
  text-align: center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button.next {
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: -30px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mt120 {
  margin-top: 120px;
}

.mt80 {
  margin-top: 80px;
}

.bg_bl-4 {
  background-color: #41b6e6;
}

.bg_r-3 {
  background-color: #fd5d0f;
}

.bg_r-2 {
  background-color: #e53838;
}

.bg_r-1 {
  background-color: #b7295a;
}

.bg_gr-2 {
  background-color: #20bf55;
}

.bg_gr-3 {
  background-color: #489c85;
}

.h1 {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 300;
}

@media (min-width: 480px) {
  .h1 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1280px) {
  .h1 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
  }
}

.h2 {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 500;
}

@media (min-width: 480px) {
  .h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .h2 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
}

.h3 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .h3 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1000px) {
  .h3 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.t1 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .t1 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .t1 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .t1 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.t2 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .t2 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .t2 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .t2 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

.t3 {
  margin: 0;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .t3 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .t3 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
  }
}

.text1 {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .text1 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .text1 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .text1 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.text2 {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .text2 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .text2 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1280px) {
  .text2 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

.text3 {
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0;
  font-weight: 400;
}

@media (min-width: 768px) {
  .text3 {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (min-width: 1280px) {
  .text3 {
    font-size: 12px;
    line-height: 14px;
  }
}

.title {
  padding: 10px 0;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 300;
}

@media (min-width: 480px) {
  .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    padding: 32px 0;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
    padding: 32px 0;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
    padding: 40px 0;
  }
}

.t-h {
  color: #fff;
}

.t-d {
  color: #505050;
}

.btn {
  display: block;
  height: 24px;
  font-size: 10px;
  line-height: 12px;
  background-color: transparent;
  border-radius: 0;
  padding: 0 8px;
  margin: 20px 0 20px auto;
}

.btn a {
  color: inherit;
}

@media (min-width: 480px) {
  .btn {
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px;
    margin: 20px 0 20px auto;
  }
}

@media (min-width: 768px) {
  .btn {
    height: 36px;
    font-size: 16px;
    line-height: 18px;
    padding: 0 24px;
    margin: 32px 0 32px auto;
  }
}

@media (min-width: 1000px) {
  .btn {
    height: 40px;
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .btn {
    height: 48px;
    font-size: 18px;
    line-height: 20px;
    padding: 0 36px;
    margin: 40px 0 40px auto;
  }
}

.btn-h {
  color: white;
  border: 1px solid white;
}

.btn-h:hover {
  background-color: white;
  border-color: #005b99;
  color: #005b99;
}

.btn-d {
  color: #505050;
  border: 1px solid #757575;
}

.btn-d:hover {
  background-color: #005b99;
  border-color: #005b99;
  color: white;
}

.btn-g {
  color: white;
  border: 1px solid white;
}

.btn-g:hover {
  background-color: white;
  border-color: #39b791;
  color: #39b791;
}

.overlay {
  background: linear-gradient(to bottom, #fff 130px, transparent 310px);
  height: 100vh;
  width: 100%;
  z-index: 11;
  position: absolute;
}

.shadow {
  -webkit-box-shadow: 0 2px 3px -2px rgba(50, 50, 50, 0.5);
          box-shadow: 0 2px 3px -2px rgba(50, 50, 50, 0.5);
}

.text-shadow {
  text-shadow: 2px 2px rgba(50, 50, 50, 0.1);
}

.pointer {
  cursor: pointer;
}

.font-thin {
  font-weight: 100;
}

.font-extra-light {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extra-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 700;
}

.header {
  background-color: #fff;
  max-height: 60px;
}

.navbar {
  z-index: 1000;
  height: 60px;
}

.navbar a {
  color: #005b99;
}

.navbar-collapse {
  display: block;
  width: 290px;
  position: absolute;
  top: 60px;
  -webkit-transform: translateX(-310px);
          transform: translateX(-310px);
  background-color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar-icon {
  font-size: 20px;
  padding-left: 5px;
}

.navbar-toggler {
  padding: 0;
  border: none;
}

.navbar-toggleri {
  color: #005b99;
}

.navbar__sett {
  font-size: 18px;
  margin: 0 10px 0 24px;
}

.navbar__search {
  font-size: 18px;
}

.navbar__local {
  font-size: 20px;
}

.navbar__form {
  width: 100%;
  padding: 16px;
  position: relative;
}

.navbar__form-input {
  width: 100%;
}

.navbar__form-btn {
  position: absolute;
  right: 24px;
}

.navbar-nav {
  padding-bottom: 30px;
}

.navbar .dropdown-toggle {
  cursor: pointer;
}

.navbar .dropdown-menu {
  border: none;
  border-radius: 0;
}

.navbar .dropdown-menu .dropdown-menu {
  -webkit-box-shadow: -2px 0 3px 3px rgba(50, 50, 50, 0.2);
          box-shadow: -2px 0 3px 3px rgba(50, 50, 50, 0.2);
}

.navbar .dropdown-item {
  border-radius: 0;
  padding: 0.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .dropdown-item .angle-right {
  font-size: 10px;
  margin-left: 8px;
  color: #daf4fa;
  height: 10px;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.navbar .dropdown-toggle::after {
  display: none;
}

.marginleftfix {
  margin-left: 0 !important;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /*margin-left: 18px;*/
}

ul.navbar-nav .on-hover {
  background-color: #005b99;
}

ul.navbar-nav .on-hover a.nav-link {
  color: #ffeb28;
}

ul.navbar-nav .on-hover ul {
  background-color: #005b99;
}

ul.navbar-nav .on-hover ul a {
  color: #daf4fa;
}

ul.navbar-nav .on-hover ul li:hover {
  background-color: #0662A2;
}

ul.navbar-nav .on-hover ul li:hover > a, ul.navbar-nav .on-hover ul li:hover > .angle-right {
  color: #ffeb28;
}

.nav-link {
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 22px;
  font-weight: 300;
}

.scroll_page .navbar {
  height: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll_page .logo img {
  width: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll_page .header__social {
  top: -49px;
}

@media (min-width: 768px) {
  .header {
    max-height: 90px;
  }
  .navbar {
    height: 90px;
  }
  .navbar-collapse {
    top: 90px;
  }
  .navbar-icon {
    margin-left: 20px;
  }
  .navbar i {
    font-size: 18px;
  }
  .logo img {
    width: 120px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 999px) {
  .header {
    max-height: 120px;
  }
  .navbar {
    height: 120px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar-collapse {
    display: unset;
    width: unset;
    position: unset;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: #fff;
    -webkit-transition: unset;
    transition: unset;
  }
  .navbar__search,
  .navbar__sett {
    display: none;
    font-size: 28px;
  }
  .navbar__form {
    width: 0px;
    position: absolute;
    right: 50px;
    top: -81px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  .navbar__form.active {
    width: 300px;
    position: absolute;
    right: 50px;
    top: -45px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    opacity: 1;
  }
  .logo img {
    width: 200px;
  }
}

@media (min-width: 1000px) {
  .header {
    max-height: 120px;
  }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 11px;
    z-index: 99999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header__social-icon i {
    color: #005b99;
    padding: 0 10px;
    z-index: 99999;
    display: inline-block;
  }
}

.footer {
  background-color: #005B99;
  position: relative;
}

.footer__title {
  font-weight: 400;
  color: #fff;
  padding: 20px 0 10px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #d1d1d1;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content::before {
  content: '';
  position: absolute;
  display: block;
  background-image: url(../images/svg/o_naek_blue.svg);
  background-size: 284px;
  width: 284px;
  height: 244px;
  right: 0px;
  bottom: 70px;
  opacity: 0.15;
}

.footer__content a {
  color: #74d2e7;
}

.footer__content a:hover {
  text-decoration: underline;
}

.footer__copy {
  padding: 20px 0;
  color: #999999;
  background-color: #113d6e;
}

.footer__copy a {
  color: #41b6e6;
}

.footer__copy a:hover {
  text-decoration: underline;
}

.footer__logo {
  padding-top: 20px;
}

.footer__link-link {
  margin-bottom: 6px;
}

.footer__link-politic {
  line-height: 1;
}

@media (min-width: 768px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .footer__mail {
    width: 30%;
  }
  .footer__link {
    width: 30%;
  }
}

.allnews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0;
}

.allnews__block.gallery {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
}

.allnews__head-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #005B99;
}

.allnews__head-btn li {
  margin: 0 5px;
}

.allnews__btn {
  text-align: center;
  padding: 24px 0;
}

.allnews__btn button {
  padding: 8px;
}

.news__block {
  margin-top: 20px;
}

.news__block:hover {
  background-color: #eeeeee;
}

.news__block.list {
  /*fas fa-bars*/
  margin-top: 20px;
}

.news__block.th-list {
  /*fas fa-th-list*/
  margin-top: 20px;
}

.news__block.gallery {
  width: 33.33%;
  padding: 10px;
}

.news__block.gallery .news__block-img {
  width: 100%;
  float: none;
  margin-right: 8px;
}

.news__block.gallery .news__block-img img {
  width: 100%;
}

.news__block.gallery .news__block-short-news {
  display: none;
}

.news__block.gallery .news__block-title {
  height: 60px;
  margin-bottom: 16px;
  font-weight: 300;
}

.news__block-img {
  float: left;
  margin-right: 8px;
}

.news__block-img img {
  width: 200px;
}

.news__block-title {
  font-size: 20px;
  font-weight: 500;
}

.news__block-short-news {
  margin: 0 0 20px 0;
}

.news__block-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  color: #999999;
  margin: 0 10px;
}
