.bg-green1 {
  background-color: #39b791;
}

.bg-green2 {
  background-color: #20bf55;
}

.bg-green3 {
  background-color: #489c85;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red2 {
  background-color: #e53838;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.bg-grey6 {
  background-color: #eeeeee;
}

.text-blue3 {
  color: #005b99;
}

.text-blue5 {
  color: #74d2e7;
}

.text-grey3 {
  color: #757575;
}

.text-grey4 {
  color: #999999;
}

.r5__bg-img {
  background-image: url("../images/img/r5/build.jpg");
  background-size: cover;
  background-position: bottom;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.article {
  padding-top: 60px;
}

.article p {
  padding-top: 20px;
}

.article .container_r5 {
  position: relative;
  width: 100%;
  height: 600px;
}

.article .container_r5 .big_text {
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  line-height: 1;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.3);
  padding: 0;
  margin: 0;
}

.article .container_r5 .big_text_cont {
  position: absolute;
  bottom: 80px;
  margin-left: -2px;
  padding: 20px;
  border: 2px solid white;
}

.article__container {
  margin: 0 auto 200px auto;
  margin-left: auto;
  background-color: white;
  padding: 80px 40px;
}

.article__container .info {
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .article {
    padding-top: 90px;
  }
  .article .container_r5 {
    height: 400px;
  }
}

@media (min-width: 1000px) {
  .article {
    padding-top: 120px;
  }
  .article .container_r5 {
    height: 600px;
  }
}

@media (min-width: 1280px) {
  .article .big_text {
    font-size: 90px;
  }
}
