.bg-green1 {
  background-color: #39b791;
}

.bg-green2 {
  background-color: #20bf55;
}

.bg-green3 {
  background-color: #489c85;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red2 {
  background-color: #e53838;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.bg-grey6 {
  background-color: #eeeeee;
}

.text-blue3 {
  color: #005b99;
}

.text-blue5 {
  color: #74d2e7;
}

.allnews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0;
}

.allnews__block.gallery {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
}

.allnews__head-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #005b99;
  cursor: pointer;
}

.allnews__head-btn li {
  margin: 0 4px;
  font-size: 18px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allnews__head-btn li.news-type {
  width: 18px;
}

.allnews__head-btn li.active {
  border: 1px solid #005b99;
}

.allnews__btn {
  text-align: center;
  padding: 24px 0;
}

.allnews__btn button {
  padding: 8px;
}

.news__block {
  margin-top: 20px;
}

.news__block:hover {
  background-color: #eeeeee;
}

.news__block.list {
  /*fas fa-bars*/
  margin-top: 20px;
}

.news__block.th-list {
  /*fas fa-th-list*/
  margin-top: 20px;
}

.news__block.gallery {
  width: 33.33%;
  padding: 10px;
}

.news__block.gallery .news__block-img {
  width: 100%;
  float: none;
  margin-right: 8px;
}

.news__block.gallery .news__block-img img {
  width: 100%;
}

.news__block.gallery .news__block-short-news {
  display: none;
}

.news__block.gallery .news__block-title {
  height: 60px;
  margin-bottom: 16px;
  font-weight: 300;
}

.news__block-img {
  float: left;
  margin-right: 8px;
}

.news__block-img img {
  width: 200px;
}

.news__block-title {
  font-size: 20px;
  font-weight: 500;
}

.news__block-short-news {
  margin: 0 0 20px 0;
}

.news__block-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  color: #999999;
  margin: 0 10px;
}
