.bg-green1 {
  background-color: #39b791;
}

.bg-green2 {
  background-color: #20bf55;
}

.bg-green3 {
  background-color: #489c85;
}

.bg-green4 {
  background-color: #009a31;
}

.bg-blue3 {
  background-color: #005b99;
}

.bg-blue4 {
  background-color: #41b6e6;
}

.bg-red1 {
  background-color: #b7295a;
}

.bg-red2 {
  background-color: #e53838;
}

.bg-red3 {
  background-color: #fd5d0f;
}

.bg-grey6 {
  background-color: #eeeeee;
}

.text-blue3 {
  color: #005b99;
}

.text-blue5 {
  color: #74d2e7;
}

.text-grey3 {
  color: #757575;
}

.text-grey4 {
  color: #999999;
}

.r5__bg-img {
  background-image: url("../images/img/r5/build.jpg");
  background-size: cover;
  background-position: bottom;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  -ms-touch-action: none;
      touch-action: none;
}

.article {
  padding-top: 60px;
}

.article p {
  padding-top: 20px;
}

.article .container_r5 {
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  width: 100%;
  height: 600px;
}

.article .container_r5 .big_text {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  line-height: 115%;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.3);
  padding: 8px;
  margin: 0;
}

.article .container_r5 .big_text_cont {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 10px;
  border: 2px solid white;
  -webkit-box-shadow: 0 2px 4px -2px rgba(50, 50, 50, 0.5);
          box-shadow: 0 2px 4px -2px rgba(50, 50, 50, 0.5);
}

.article .container_r5 .big_text_cont-fixed {
  position: fixed;
  top: 330px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: auto;
}

.article__container {
  margin: 0 auto;
  margin-left: auto;
  background-color: white;
  padding: 12px;
}

.article__container .r5_title {
  color: #74d2e7;
  font-weight: 900;
  font-size: 30px;
}

.article__container .info {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .article {
    padding-top: 90px;
  }
  .article .container_r5 {
    height: 600px;
  }
  .article .container_r5 .big_text_cont {
    bottom: 40px;
  }
  .article .container_r5 .big_text_cont-fixed {
    top: 390px;
    bottom: auto;
  }
  .article__container {
    margin: 0 auto 200px auto;
    margin-left: auto;
    background-color: white;
    padding: 40px;
  }
  .article__container .info {
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .article {
    padding-top: 120px;
  }
  .article .container_r5 {
    height: 600px;
  }
  .article .container_r5 .big_text {
    font-size: 90px;
  }
  .article .container_r5 .big_text_cont {
    bottom: 40px;
  }
  .article .container_r5 .big_text_cont-fixed {
    top: 430px;
    bottom: auto;
  }
  .article__container {
    margin: 0 auto 200px auto;
    margin-left: auto;
    background-color: white;
    padding: 40px;
  }
  .article__container .info {
    padding: 20px 0;
  }
}

@media (min-width: 1280px) {
  .article .big_text {
    font-size: 90px;
  }
}

blockquote.quote {
  background-color: #daf4fa;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: 40px;
  padding: 0 18px;
  font-style: italic;
}

blockquote.quote .info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

blockquote.quote .info .quote-svg {
  width: 30px;
  height: 30px;
  position: absolute;
  -webkit-transform: translateX(calc(50vw - 27px)) rotate(360deg);
          transform: translateX(calc(50vw - 27px)) rotate(360deg);
}

blockquote.quote .info .quote-text {
  padding: 50px 0 0 0;
}

blockquote.quote .info .quote-text span {
  display: block;
  font-weight: 500;
  color: #505050;
}

blockquote.quote .info .quote-text span.quote-author {
  padding-top: 40px;
  font-style: normal;
  text-align: right;
  font-weight: 400;
  color: #363636;
}

blockquote.quote .info .quote-img {
  display: none;
}

@media (min-width: 768px) {
  blockquote.quote {
    margin-left: calc(-50vw + 50%);
    margin-top: 60px;
    padding: 0 40px;
  }
  blockquote.quote .info .quote-svg {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  blockquote.quote .info .quote-text {
    padding: 0 30px 0 60px;
  }
  blockquote.quote .info .quote-text span.quote-author {
    padding-top: 40px;
  }
  blockquote.quote .info .quote-img {
    display: block;
    width: 250px;
    min-width: 250px;
    height: 225px;
  }
  blockquote.quote .info .quote-img div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 1000px) {
  blockquote.quote {
    margin-left: calc(-50vw + 50%);
    margin-top: 60px;
    padding: 0 40px;
  }
  blockquote.quote .info .quote-svg {
    width: 40px;
    height: 40px;
  }
  blockquote.quote .info .quote-text {
    padding-left: 80px;
    padding-right: 40px;
  }
  blockquote.quote .info .quote-text span.quote-author {
    padding-top: 40px;
  }
  blockquote.quote .info .quote-img {
    width: 300px;
    min-width: 300px;
    height: 270px;
  }
}

.container_changed {
  padding: 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  footer.footer {
    margin-top: 0;
  }
}
