    @charset "UTF-8";
    /* Указываем box sizing */
    /* Убираем внутренние отступы */
    /* Убираем внешние отступы */
    /* Выставляем основные настройки по-умолчанию для body */
    /* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
    /* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
    /* Упрощаем работу с изображениями */
    /* END CLEANER */
    
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    *::before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    ul[class] {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    ol[class] {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    a:hover {
        text-decoration: unset;
    }
    
    body {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: normal;
        margin: 0;
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
        overflow-x: hidden;
    }
    button:active, button:focus{
        outline: none;
    }
    button::-moz-focus-inner{
        border: 0;
    }
    
    .h1 {
        margin: 0;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 1px;
        font-weight: 300;
    }
    
    @media (min-width: 480px) {
        .h1 {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 2px;
        }
    }
    
    @media (min-width: 768px) {
        .h1 {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 2px;
        }
    }
    
    @media (min-width: 1280px) {
        .h1 {
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 2px;
        }
    }
    
    .h2 {
        margin: 0;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    
    @media (min-width: 480px) {
        .h2 {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 2px;
        }
    }
    
    @media (min-width: 768px) {
        .h2 {
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 1280px) {
        .h2 {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 2px;
        }
    }
    
    .h3 {
        margin: 0;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    
    @media (min-width: 768px) {
        .h3 {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 1000px) {
        .h3 {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 1280px) {
        .h3 {
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 1px;
        }
    }
    
    .t1 {
        margin: 0;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        font-weight: 400;
    }
    
    @media (min-width: 480px) {
        .t1 {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 768px) {
        .t1 {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 1280px) {
        .t1 {
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 1px;
        }
    }
    
    .t2 {
        margin: 0;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        font-weight: 400;
    }
    
    @media (min-width: 480px) {
        .t2 {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 768px) {
        .t2 {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 1280px) {
        .t2 {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 1px;
        }
    }
    
    .t3 {
        margin: 0;
        font-size: 8px;
        line-height: 10px;
        letter-spacing: 1px;
        font-weight: 400;
    }
    
    @media (min-width: 768px) {
        .t3 {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 1280px) {
        .t3 {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1px;
        }
    }

    h1,h2,h3,h4 {
        margin: 0;
    }
    
    p {
        margin: 0;
    }
    
    li {
        margin: 0;
    }
    
    figure {
        margin: 0;
    }
    
    figcaption {
        margin: 0;
    }
    
    blockquote {
        margin: 0;
    }
    
    dl {
        margin: 0;
    }
    
    dd {
        margin: 0;
    }
    
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }
    
    img {
        max-width: 100%;
        display: block;
    }
    
    button {
        background: transparent;
        border: none;
        padding: 0;
    }
    
    .text1 {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        font-weight: 400;
    }
    
    @media (min-width: 480px) {
        .text1 {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 768px) {
        .text1 {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 1280px) {
        .text1 {
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 1px;
        }
    }
    
    .text2 {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        font-weight: 400;
    }
    
    @media (min-width: 480px) {
        .text2 {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 768px) {
        .text2 {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1px;
        }
    }
    
    @media (min-width: 1280px) {
        .text2 {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 1px;
        }
    }
    
    .text3 {
        font-size: 8px;
        line-height: 10px;
        letter-spacing: 0;
        font-weight: 400;
    }
    
    @media (min-width: 768px) {
        .text3 {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0;
        }
    }
    
    @media (min-width: 1280px) {
        .text3 {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0;
        }
    }
    
    .title {
        padding: 10px 0;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 1px;
        font-weight: 300;
    }
    
    @media (min-width: 480px) {
        .title {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 2px;
            padding: 32px 0;
        }
    }
    
    @media (min-width: 768px) {
        .title {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 2px;
            padding: 32px 0;
        }
    }
    
    @media (min-width: 1280px) {
        .title {
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 2px;
            padding: 40px 0;
        }
    }
    
    .t-h {
        color: #fff;
    }
    
    .t-d {
        color: #505050;
    }
    
    .btn {
        display: block;
        height: 24px;
        font-size: 10px;
        line-height: 12px;
        background-color: transparent;
        border-radius: 0;
        padding: 0 8px;
        margin: 20px 0 20px auto;
    }
    
    @media (min-width: 480px) {
        .btn {
            height: 32px;
            font-size: 14px;
            line-height: 16px;
            padding: 0 16px;
            margin: 20px 0 20px auto;
        }
    }
    
    @media (min-width: 768px) {
        .btn {
            height: 36px;
            font-size: 16px;
            line-height: 18px;
            padding: 0 24px;
            margin: 32px 0 32px auto;
        }
    }
    
    @media (min-width: 1000px) {
        .btn {
            height: 40px;
            padding: 0 30px;
        }
    }
    
    @media (min-width: 1280px) {
        .btn {
            height: 48px;
            font-size: 18px;
            line-height: 20px;
            padding: 0 36px;
            margin: 40px 0 40px auto;
        }
    }
    
    .btn-h {
        color: #ffffff;
        border: 1px solid #ffffff;
    }
    
    .btn-d {
        color: #505050;
        border: 1px solid #707070;
    }
    
    button.prev {
        font-size: 12px;
        position: absolute;
        right: 24px;
        top: -30px;
        width: 20px;
        height: 20px;
        text-align: center;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    button.next {
        font-size: 12px;
        position: absolute;
        right: 5px;
        top: -30px;
        width: 20px;
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .overlay {
        background: linear-gradient(to bottom, #fff 130px, transparent 310px);
        height: 100vh;
        width: 100%;
        z-index: 11;
        position: absolute;
    }
    /*----header start----*/
    
    .header {
        background-color: #fff;
        max-height: 60px;
    }
    
    .header__social {
        display: none;
    }
    
    .navbar {
        z-index: 1000;
        color: #0061a3;
        height: 60px;
    }
    
    .navbar-collapse {
        display: block;
        width: 290px;
        position: absolute;
        top: 60px;
        transform: translateX(-310px);
        background-color: #fff;
        transition: all 1s;
    }
    
    .navbar-icon {
        font-size: 20px;
        padding-left: 5px;
    }
    
    .navbar-toggler {
        padding: 0;
        border: none;
    }
    
    .dropdown-toggle:after {
        display: none;
    }
    
    .nav-link:hover:after {
        display: inline-block;
        /*padding-left: 0.255em;*/
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        position: absolute;
        top: 22px;
    }
    
    .navbar-toggler i {
        color: #0061a3;
    }
    
    .logo {
        flex-grow: 1;
        margin-left: 18px;
    }
    
    .navbar__sett {
        font-size: 18px;
        margin: 0 10px 0 24px;
    }
    
    .navbar__search {
        font-size: 18px;
    }
    .navbar__local {
        font-size: 20px;
    }

    .navbar__form{
        width: 100%;
        padding: 16px 16px 16px 16px;
        position:relative;
    }
     .navbar__form-input{
        width: 100%;
    }
    .navbar__form-btn{
        position: absolute;
        right: 24px;
    }
    
    .navbar-nav {
        padding-bottom: 30px;
    }
    
    .navbar .dropdown-toggle {
        cursor: pointer;
    }
    
    .navbar .dropdown-menu a {
        cursor: pointer;
    }
    
    .navbar .dropdown-item.active {
        color: inherit;
        text-decoration: none;
        background-color: inherit;
    }
    
    .navbar .dropdown-item:active {
        color: inherit;
        text-decoration: none;
        background-color: inherit;
    }
    
    .navbar .dropdown-item:focus {
        color: #16181b;
        text-decoration: none;
        background-color: #f8f9fa;
    }
    
    .navbar .dropdown-item:hover {
        color: #16181b;
        text-decoration: none;
        background-color: #f8f9fa;
    }
    
    .nav-link {
        color: #005B99 !important;
        text-transform: uppercase;
        margin-left: 30px;
        font-size: 22px;
        font-weight: 300;
    }
    
    @media (min-width: 768px) {
        .header {
            max-height: 90px;
        }
        .navbar {
            height: 90px;
        }
        .navbar-collapse {
            top: 90px;
        }
        .navbar-icon {
            margin-left: 20px;
        }
        .navbar i {
            font-size: 18px;
        }
        .logo img {
            width: 120px;
        }
    }
    
    @media (min-width: 999px) {
        .header {
            max-height: 120px;
        }
        .navbar {
            height: 120px;
        }
        .navbar-collapse {
            display: unset;
            width: unset;
            position: unset;
            transform: translateX(0);
            background-color: #fff;
            transition: unset;
        }
        .navbar__search,
        .navbar__sett {
            display: none;
            font-size: 28px;
        }
        .navbar__form {
            width: 0px;
            position: absolute;
            right: 50px;
            top: -81px;
            transition: all 500ms;
            opacity: 0;
        }
        .navbar__form.active{
            width: 300px;
            position: absolute;
            right: 50px;
            top: -45px;
            transition: all 500ms;
            opacity: 1;
        }
        .navbar .dropdown-toggle:not(.nav-link)::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .5em;
            vertical-align: 0;
            border-bottom: .3em solid transparent;
            border-top: .3em solid transparent;
            border-left: .3em solid;
        }
        .navbar .nav-link {
            color: #005B99;
        }
        .logo img {
            width: 200px;
        }
    }
    
    @media (min-width: 1000px) {
        .header {
            max-height: 120px;
        }
        .header__social {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 11px;
            z-index: 99999;
        }
        .header__social-icons {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }
        .header__social-icon i {
            color: #005B99;
            padding: 0 10px;
            z-index: 99999;
            display: inline-block;
        }
    }
    /*----header end----*/
    /*----slider start----*/
    
    .head-slider__item {
        width: 100%;
        height: 100%;
        position: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        overflow: hidden;
    }
    
    .head-slider__text {
        height: 200px;
        font-size: 36px;
        font-family: Gotham Pro;
        font-weight: 500;
        font-style: italic;
        line-height: 42px;
        letter-spacing: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        color: #ffffff;
        margin: auto;
        z-index: 2;
    }
    
    .head-slider__text span {
        font-weight: 900;
        color: #FFEB28;
    }
    
    .head-slider__overlay {
        /*background: -webkit-gradient(linear, left top, right top, color-stop(2%, #005B99), color-stop(50%, transparent));
    background: linear-gradient(to right, #005B99 2%, transparent 50%);*/
        background-color: #005B99;
        height: 100vh;
        width: 100%;
        position: absolute;
        opacity: 0.2;
    }
    
    .head-slider .slick-track {
        top: 60px;
        height: 100%;
    }
    
    .head-slider .slick-dots {
        width: 100%;
        position: absolute;
        bottom: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 10;
        justify-content: center;
    }
    
    .head-slider .slick-dots li button {
        font-size: 0;
        background-color: transparent;
        border: none;
        padding: 5px;
    }
    
    .head-slider .slick-dots li button::before {
        content: "";
        width: 32px;
        height: 8px;
        border: 2px solid #fff;
        /*border-radius: 50%;*/
        display: inline-block;
    }
    
    .head-slider li.slick-active button::before {
        background-color: #fff;
    }
    
    @media(min-width: 768px) {
        .head-slider__text {
            font-size: 48px;
            line-height: 56px;
        }
    }
    
    @media(min-width: 1000px) {
        .head-slider__text {
            font-size: 60px;
            line-height: 75px;
            letter-spacing: 3px;
        }
    }
    
    @media(min-width: 1280px) {
        .head-slider__text {
            font-size: 72px;
            line-height: 84px;
            letter-spacing: 4px;
        }
    }
    
    @media(min-width: 1920px) {
        .head-slider__text {
            font-size: 90px;
            line-height: 102px;
            letter-spacing: 5px;
        }
    }
    /*----head-slider end----*/
    /*----info start----*/
    
    .info {
        background-attachment: fixed;
        background-size: cover;
    }
    
    .info__wrap {
        background-color: rgba(255, 255, 255, 0.8);
    }
    
    .info__block {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    
    .info__content {
        max-height: 300px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
    
    .info__item {
        padding: 5px;
    }
    
    .info__item:not(:first-child) {
        display: none;
    }
    
    @media(min-width: 480px) {
        .info__item {
            display: block !important;
        }
    }
    /*----info end----*/
    /*----widget start----*/
    
    .widget .slick-dots li button {
        width: 60px;
        height: 60px;
    }
    
    .widget {
        background-color: #39b791;
        position: relative;
        color: #fff;
    }
    
    .widget button.prev {
        font-size: 12px;
        position: absolute;
        right: 24px;
        top: 16px;
        width: 20px;
        height: 20px;
        text-align: center;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .widget button.next {
        font-size: 12px;
        position: absolute;
        right: 5px;
        top: 16px;
        width: 20px;
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .widget__slider {
        padding-top: 16px;
    }
    
    .widget__slider-title {
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        padding: 0 0 24px 0;
    }
    
    #slick-slide-control10 {
        background-color: #39b791;
        background-image: url(../images/batteryl.png);
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
    }
    
    #slick-slide-control11 {
        background-color: #7AC70C;
        background-image: url(../images/CO2.png);
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
    }
    
    #slick-slide-control12 {
        background-color: #74D2E7;
        background-image: url(../images/weather.png);
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
    }
    
    .widget span {
        padding-bottom: 5px;
    }
    
    @media(min-width: 480px) {
        .widget__slider-title {
            font-size: 22px;
        }
        .widget .text {
            font-size: 22px;
        }
        .widget .pokaz {
            font-size: 22px;
            font-weight: 400;
        }
        .widget .odin {
            font-size: 18px;
        }
    }
    
    @media(min-width: 768px) {
        .widget {
            position: absolute;
            top: 50vh;
            right: 0;
            margin-top: -110px;
            transform: translateX(300px);
            width: 300px;
            transition: all 1.5s;
        }
        .widget__slider {
            margin: 0px;
        }
        .widget__title {
            display: none;
        }
        .widget .slick-dots {
            position: absolute;
            top: 0;
            left: -80px;
        }
        .widget .text {
            font-size: 22px;
        }
        .widget .pokaz {
            font-size: 22px;
            font-weight: 500;
        }
        .widget .odin {
            font-size: 18px;
        }
    }
    /*----widget end----*/
    /*----about start----*/
    
    .about p {
        margin-bottom: 10px;
    }
    
    .about__wrap {
        background-color: #005B99;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        position: relative;
    }

     .about__wrap::before {
        content:'';        
        min-width: 50%;
        background-image: url(../images/about.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        transform: scale(-1, 1);
        display: none;
    }
    
     
    .about__content {
        padding: 0 15px 0 15px;
        color: #fff;
        position: relative;
        max-width: 635px;
    }
   
    
    .about__text {
        /*margin-bottom: 40px;*/
        font-size: 12px;
    }
    
    .about__btn {}
    
    @media(min-width: 768px) {
        .about__wrap::before {
            display: block;
        }
    }
    /*----about end----*/
    /*----news start----*/
    
    .news__slider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    .news__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin: o auto;
    }
    
    .news__item {
        background-color: #eeeeee;
        position: relative;
    }
    .news__item::before{
        content: '';
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,0.6);
    }
    
    .news__item-title {
        text-align:center;
        height: 120px;
        position: absolute;
        top: 50%;
        margin: -80px 0 0 0;

    }

    .news__item-title::before{
        content: '';
        background-image: url(../images/logo.png);
        width: 80px;
        height: 30px;
        -webkit-background-size: cover;
        background-size: cover;
        display: inline-block;
    }
    
    .news__item-title h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        color: #fff;
        padding: 10px;
        margin: 0 40px;
        border-bottom:1px solid #fff;
        border-top: 1px solid #fff;
    }
        
    .news__item-date {
        color: #999999;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    
    .news .slide2,
    .slide3 {
        display: none;
    }
    
    @media(min-width: 1000px) {
        .news .slide2,
        .slide3 {
            display: block;
        }
        .news__items {
            width: 33.3333%;
            padding: 0 8px;
        }
        .news__slider {
            max-height: 0 -8px;
        }
    }
    /*----news end----*/
    /*----why start----*/
    
    .why {
        background-color: #39b791;
    }
    .why a{
        color: #fff;
    }
    
    .why__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    
    .why__item {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 0 0 15px 0;
        color: #fff;
    }
    
    .why__item:nth-child(3n+1) {
        /*padding: 0 0 30px 0;*/
    }
    
    .why__item-icon i {
        font-size: 42px;
        color: #fff;
        margin: 0 20px 0 0;
        width: 42px;
    }
    
    .why__item-title h3 {
        color: #fff;
        margin: 0 0 10px 0;
        font-family: 'Gotham Pro';
        text-transform: uppercase;
        
    }
    
    .why__item-text {
       color: #fff;
    }
    
    @media(min-width: 768px) {
        .why__items {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .why__item {
            width: 50%;
        }
    }
    
    @media(min-width: 1000px) {
        .why__items {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .why__item {
            width: 33%;
        }
    }
    /*----why end----*/
    /*# sourceMappingURL=style.css.map */
    
    .people__wrap {
        margin-bottom: 15px;
    }
    
    .people__item {
        width: 100%;
        height: 150px;
        /*padding: 20px 10px 0 10px;*/
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .people__item-img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
    }
    
    .people__item-title {
        text-align: center;
        background-color: rgba(65, 134, 230, 0.5);
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 60%;
    }
    
    .people__item-title h3 {
        font-weight: 400;
    }
    
    @media(min-width: 480px) {
        .people__item {
            height: 220px;
            padding: 8px;
        }
        .people__item-title {
            margin: 8px;
        }
        .people__item-title h3 {
            line-height: 32px;
        }
    }
    
    @media (min-width: 1000px) {
        .people__items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 50px;
        }
        .people__item {
            width: 33.33333%;
            height: 220px;
            padding: 8px;
        }
        .people__item-title {
            margin: 8px;
        }
        .people__item-title h3 {
            line-height: 32px;
        }
    }
    
    .footer {
        background-color: #005B99;
    }
    
    .footer__wrap {
        background-image: url(../images/pattern_oo_white.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    
    .footer__title {
        font-weight: 400;
        color: #fff;
        padding: 20px 0 10px 0;
    }
    
    .footer__content {
        display: flex;
        justify-content: space-between;
        color: #d1d1d1;
        padding-bottom: 30px;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    
    .footer__content a {
        color: #74D2E7;
    }
    
    .footer__mail {
        /*width: 30%;*/
    }
    
    .footer__link {
        /*width: 30%;*/
    }
    
    .footer__copy {
        padding: 20px 0;
        color: #999999;
        background-color: #113d6e;
    }
    
    .footer__logo {
        padding-top: 50px;
    }
    
    @media(min-width: 768px) {
        .footer__content {
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction: row;
            -o-flex-direction: row;
            flex-direction: row;
        }
    }
    
    @media (min-width: 1000px) {
        .footer__mail {
            width: 30%;
        }
        .footer__link {
            width: 30%;
        }
    }