.about_side_menu {
    z-index: 1005;
    padding-left: 24px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        display: inline-block;
        width: 3px;
        height: 24px;
        background-color: $blue3;
    }
    &-title h2 {
        font-weight: 300;
    }
    &-submenu {
        margin-top: 16px;
    }
    & .active span {
        color: $blue4;
    }
    &>ul {
        margin: 32px 0 0 0;
        padding: 0;
    }
    & li {
        list-style: none;
        & span {
            cursor: pointer;
            &:hover {
                color: $blue3;
            }
        }
    }
    & h3 {
        font-size: 18px;
    }
    @media(min-width: 768px) {
        position: sticky;
        left: 0;
        top: 120px;
        float: left;
    }
}