$blue1:#16202f;
$blue2:#113dbe;
$blue3:#005b99;
$blue4:#41b6e6;
$blue5:#74d2e7;
$blue6:#daf4fa;

$green1:#39b791;
$green2:#20bf55;
$green3:#489c85;
$green4:#009a31;
$green5:#7ac70c;
$green6:#bff199;

$red1:#b7295a;
$red2:#e53838;
$red3:#fd5d0f;
$red4:#ff9600;
$red5:#ffeb28;
$red6:#f5f5e8;

$grey1:#363636;
$grey2:#505050;
$grey3:#757575;
$grey4:#999999;
$grey5:#d1d1d1;
$grey6:#eeeeee;

.bg-green1 { background-color: $green1; }
.bg-green4 { background-color: $green4; }
.bg-blue3  { background-color: $blue3; }
.bg-blue4  { background-color: $blue4; }
.bg-red1   { background-color: $red1; }
.bg-red3   { background-color: $red3; }