@import "_colors";
.footer {
    margin-top: 40px;
    background-color: #005B99;
    position: relative;
    &__title {
        font-weight: 400;
        color: #fff;
        padding: 20px 0 10px 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        color: $grey5;
        padding-bottom: 30px;
        flex-direction: column;
        &::before {
            content: '';
            position: absolute;
            display: block;
            background-image: url(../images/svg/o_naek_blue.svg);
            background-size: 284px;
            width: 284px;
            height: 244px;
            right: 0px;
            bottom: 70px;
            opacity: 0.25;
        }
        & a {
            color: $blue5;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__copy {
        padding: 20px 0;
        color: $grey4;
        background-color: #113d6e;
        & a {
            color: #41b6e6;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__logo {
        padding-top: 20px;
        display: flex;
        position: relative;
        &:after {
            content: "";
            height: 38px;
            border-right: 2px #fff solid;
            display: flex;
            flex-direction: row;
            position: absolute;
            left: 197px;
            top: 20px;
        }
        &-naek {
            height: 38px;
        }
        &-raes {
            height: 38px;
            margin-left: 38px;
        }
    }
    &__link-link {
        margin-bottom: 5px;
    }
    &__link-politic {
        padding-top: 4px;
        line-height: 1;
    }
    &__right {
        display: flex;
        flex-direction: column-reverse;
    }
    &__trustbox {
        margin-top: 32px;
        & img {
            height: 50px;
        }
    }
    @media(min-width: 768px) {
        margin-top: 60px;
        &__content {
            flex-direction: row;
        }
        &__logo {
            &:after {
                content: "";
                height: 40px;
                left: 207px;
            }
            &-naek {
                height: 40px;
            }
            &-raes {
                height: 40px;
                margin-left: 40px;
            }
        }
        &__right {
            flex-direction: column;
        }
        &__trustbox {
            & img {
                height: unset;
            }
        }
    }
    @media (min-width: 1000px) {
        margin-top: 80px;
        &__logo {
            &:after {
                content: "";
                height: 50px;
                left: 259px;
            }
            &-naek {
                height: 50px;
            }
            &-raes {
                height: 50px;
                margin-left: 50px;
            }
        }
        &__mail {
            width: 30%;
        }
        &__link {
            width: 30%;
        }
    }
    @media (min-width: 1280px) {
        &__logo {
            &:after {
                content: "";
                height: 60px;
                left: 312px;
            }
            &-naek {
                height: 60px;
            }
            &-raes {
                height: 60px;
                margin-left: 60px;
            }
        }
    }
}