@import "_colors";

.footer {
    background-color: #005B99;
    position:relative;
    &__title {
        font-weight: 400;
        color: #fff;
        padding: 20px 0 10px 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        color: $grey5;
        padding-bottom: 30px;
        flex-direction: column;
        &::before {
            content: '';
            position: absolute;
            display: block;
            // background-image: url(../images/pattern_oo_white.png);
            background-image: url(../images/svg/o_naek_blue.svg);
            background-size: 284px;
            width: 284px;
            height: 244px;
            right: 0px;
            bottom: 70px;
            opacity: 0.15;
        }
        & a{
            color: $blue5;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__copy {
        padding: 20px 0;
        color: $grey4;
        background-color: #113d6e;
        & a{
            color:#41b6e6;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__logo {
        padding-top: 20px;
        display: flex;
        position: relative;
        &:after{
                content: "";
                height: 50px;
                border-right: 2px #fff solid;
                display: flex;
                flex-direction: row;
                position: absolute;
                right: 125px;
                top: 20px;
            }
        &-naek{
           height: 50px; 
            
        }
        &-raes{
            height: 50px;
            margin-left: 50px;
        }
    }
    &__link-link{
        margin-bottom: 6px;
    }
    &__link-politic {
        line-height: 1;
    }
    @media(min-width: 768px) {
        &__content {
            flex-direction: row;
        }
    }
    @media (min-width: 1000px) {
        &__mail {
            width: 30%;
        }
        &__link {
            width: 30%;
        }
    }
}