@import "_colors";
//for width 320px
.header {
    background-color: #fff;
    max-height: 60px;
    &.lowvision * {
        color: #000;
        background-color: #fff;
        border-color: #000;
    }
    &__social {
        display: none;
    }
    & i.icon-close {
        font-size: 18px;
    }
    &__social-icons {
        &.menu {
            padding: 8px 12px;
            display: flex;
            justify-content: space-between;
            & .header__social-icon {
                font-size: 32px;
            }
        }
    }
}

.navbar {
    z-index: 1000;
    height: 60px;
    & a {
        color: $blue3;
    }
    &-collapse {
        display: block;
        width: 270px;
        height: calc(100vh - 60px);
        position: absolute;
        top: 60px;
        transform: translateX(-310px);
        background-color: #fff;
        transition: all .5s;
        @media (max-width: 999px) {
            box-shadow: inset 0px 2px 5px -2px $grey1;
            overflow-y: auto;
            &_inner-container{
                padding-top: 10px;
                width: 260px;
            } 
        }
    }
    &-icon {
        font-size: 20px;
        padding-left: 5px;
    }
    &-toggler {
        display: block;
        position: relative;
        width: 24px;
        height: 20px;
        &:focus,
        &:active {
            box-shadow: none!important;
            outline: none!important;
        }
        &::-moz-focus-inner {
            border: 0!important;
        }
        & span {
            position: absolute;
            background-color: $blue3;
            left: 0;
            width: 100%;
            height: 2px;
            top: 8px;
            transition: all .3s ease 0s;
        }
        &::before,
        &::after {
            content: '';
            background-color: $blue3;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all .3s ease 0s;
        }
        &::after {
            top: 0;
        }
        &::before {
            bottom: 0;
        }
        &.active span {
            transform: scale(0);
        }
        &.active::after {
            transform: rotate(45deg);
            top: 8px;
        }
        &.active::before {
            transform: rotate(-45deg);
            top: 8px;
        }
    }
    &__sett {
        display: flex;
        font-size: 18px;
        margin: 0 10px;
        color: $blue3;
        @media (max-width: 999px) {
            font-size: 22px;
            margin: 0 14px;
        }
    }
    &__search {
        font-size: 18px;
    }
    &__local {
        font-size: 20px;
    }
    &__form {
        width: 100%;
        padding: 16px;
        position: relative;
    }
    &__form-input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $blue3;
        color: $grey2;
        &::placeholder {
            color: $grey5;
            font-style: italic;
        }
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
        &:focus {
            outline: none;
        }
    }
    &__form-btn {
        position: absolute;
        right: 24px;
        color: $blue3;
        cursor: pointer;
        @media (max-width: 999px) {
            font-size: 20px;
            right: 20px;
        }
    }
    &-nav {
        padding-bottom: 30px;
    }
    & .dropdown-toggle {
        cursor: pointer;
    }
    & .dropdown-menu {
        border: none;
        border-radius: 0;
        @media (min-width: 1000px) {
            & .dropdown-menu {
                box-shadow: -2px 0 3px 3px rgba(50, 50, 50, 0.2);
            }
        }
    }
    & .dropdown-item {
        border-radius: 0;
        padding: 0.5rem 0 0.5rem 1rem;
        @media (max-width: 999px) {
            padding: 0 0 8px 16px;
            &:hover,
            &:focus {
                color: $blue3;
                background-color: white;
            }
        }
    }
    & .dropdown:hover>.dropdown-menu {
        @media (min-width: 1000px) {
            display: block;
        }
    }
    & .dropdown>.dropdown-toggle:active {
        @media (min-width: 1000px) {
            pointer-events: none;
        }
    }
    & a.dropdown-toggle::after {
        display: none;
    }
    & .nav-item {
        & .angle-right {
            vertical-align: middle;
            font-size: 10px;
            margin-left: 8px;
            color: $blue6;
            @media (max-width: 999px) {
                display: inline-block;
                color: $blue3;
                margin-left: 0;
                transform: rotate(90deg);
                transition: .3s;
            }
        }
        @media (max-width: 999px) {
            & a.show {
                font-weight: 500;
                padding-bottom: 4px;
                & i {
                    transform: rotate(270deg);
                }
            }
        }
        &>a i {
            @media (min-width: 1000px) {
                display: none;
            }
        }
    }
}

.marginleftfix {
    @media (min-width: 1000px) {
        margin-left: 0 !important;
    }
}

.logo {
    & img {
        max-height: 48px;
        margin-left: 16px;
    }
}

ul.navbar-nav .on-hover {
    @media (min-width: 1000px) {
        background-color: $blue3;
        & a.nav-link {
            color: $red5;
        }
        & ul {
            background-color: $blue3;
            & a {
                color: $blue6;
            }
            & li:hover {
                &>a {
                    color: $red5;
                    background-color: #0662A2;
                    &>i {
                        color: $red5;
                    }
                }
            }
        }
    }
}

.lowvision ul.navbar-nav .on-hover {
    @media (min-width: 1000px) {
        background-color: #fff;
        & a.nav-link {
            color: #000;
        }
        & ul {
            background-color: #fff;
            & a {
                color: #000;
            }
            & li:hover {
                &>a {
                    color: #000;
                    background-color: #fff;
                    font-weight: 500;
                    &>i {
                        color: #000;
                    }
                }
            }
        }
    }
}

ul.navbar-nav .show {
    @media (max-width: 999px) {
        & .dropdown-menu {
            & a {
                padding-left: 32px;
            }
            & li:last-child a {
                padding-bottom: 16px;
            }
            & .dropdown-menu {
                & a {
                    padding-left: 48px;
                    white-space: pre-wrap;
                    line-height: 1;
                    padding-top: 4px;
                    padding-bottom: 10px;
                }
                & li:last-child a {
                    padding-bottom: 16px;
                }
            }
          
        }
    }
}

.nav-link {
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 22px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .header {
        max-height: 90px;
        &__social-icons {
            &.menu {
                & .header__social-icon i {
                    font-size: 32px;
                }
            }
        }
    }
    .navbar {
        height: 90px;
        &-collapse {
            top: 90px;
        }
        & i {
            font-size: 18px;
        }
        .logo {
            flex-grow: 0;
            img {
                max-height: 60px;
                transition: 0.5s;
            }
        }
    }
}

@media (min-width: 1000px) {
    .navbar {
        height: 120px;
        transition: 0.5s;
        & .dropdown-item {
            border-radius: 0;
            padding: 0.5rem 1.5rem;
            display: flex;
            align-items: center;
            flex-direction: unset;
        }
        &-collapse {
            display: unset;
            width: unset;
            position: unset;
            height: unset;
            transform: translateX(0);
            background-color: #fff;
            transition: unset;
            flex-basis: unset;
        }
        & .lang__block,
        &__sett {
            display: none;
            font-size: 28px;
        }
        &__form {
            width: 0px;
            position: absolute;
            right: 50px;
            top: -81px;
            transition: all 500ms;
            opacity: 0;
            &.active {
                width: 300px;
                position: absolute;
                right: 50px;
                top: -45px;
                transition: all 500ms;
                opacity: 1;
            }
        }
        & .logo img {
            max-height: 90px;
            transition: 500ms;
        }
    }
    .nav-item:last-child .nav-link {
        padding-right: unset;
    }
    .header {
        max-height: 120px;
        &__social {
            display: flex;
            position: absolute;
            right: 0;
            top: 11px;
            z-index: 99999;
            transition: 0.5s;
        }
        &__social-icons {
            display: flex;
            justify-content: flex-end;
            &.menu {
                display: none;
            }
        }
        &__social-icon i {
            color: $blue3;
            padding: 0 6px;
            z-index: 99999;
            display: inline-block;
            font-size: 18px;
        }
    }
}

.scroll_page {
    & .navbar {
        height: 60px;
        transition: 0.5s;
    }
    & .logo img {
        max-height: 40px;
        transition: 0.5s;
    }
    & .header__social {
        top: -49px;
    }
}

.lang {
    outline: none;
    cursor: pointer;
    &:focus {
        border: none;
        outline: none;
    }
    &__block {
        position: relative;
        & .lang {
            display: flex;
            border: none;
            font-size: 15px;
            color: $blue3;
            box-shadow: none;
            padding: 0 5px;
            transition: .5s;
            &__angle-bottom {
                transform: rotate(90deg);
                margin: 5px 5px 5px 0;
                font-size: 14px;
                transition: .3s;
            }
            & .text {
                font-size: 15px;
                margin-right: 0;
            }
            @media (max-width: 999px) {
                &__angle-bottom {
                    margin: 5px;
                    font-size: 16px;
                }
                & .text {
                    font-size: 18px;
                }
            }
        }
        & .slideDown .lang__angle-bottom {
            transform: rotate(270deg);
            transition: .3s;
        }
    }
    &__drop {
        display: flex;
        flex-direction: column;
        opacity: 0;
        position: absolute;
        z-index: 3;
        max-height: 0;
        overflow: hidden;
        left: 0;
        width: 100%;
        top: 24px;
        transition: .3s;
        &.open {
            opacity: 1;
            max-height: 999px;
        }
        & a {
            padding: 8px 8px;
            text-align: center;
            transition: .3s all;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid $blue3;
            font-size: 13px;
            font-weight: 500;
            color: $blue3;
            background-color: $blue6;
            &:hover {
                background-color: $blue3;
                color: $red5;
            }
            &.active {
                display: none;
            }
        }
        @media (max-width: 999px) {
            top: 28px;
            a {
                font-size: 16px;
            }
        }
    }
}

.lowvision .lang__drop a:hover {
    background-color: $grey1;
    color: #fff;
}