@import "_colors";
//for width 320px
.header {
    background-color: #fff;
    max-height: 60px;
    &__social {
        display: none;
    }
    & i.icon-close {
        font-size: 18px;
    }
}

.navbar {
    z-index: 1000;
    height: 60px;
    & a {
        color: $blue3;
    }
    &-collapse {
        display: block;
        width: 270px;
        height: 100vh;
        position: absolute;
        top: 60px;
        transform: translateX(-310px);
        background-color: #fff;
        transition: all 1s;
    }
    &-icon {
        font-size: 20px;
        padding-left: 5px;
    }
    &-toggler {
        padding: 0;
        border: none;
        & i {
            color: $blue3;
        }
    }
    &__sett {
        font-size: 18px;
        margin: 0 10px;
        color: $blue3;
    }
    &__search {
        font-size: 18px;
    }
    &__local {
        font-size: 20px;
    }
    &__form {
        width: 100%;
        padding: 16px;
        position: relative;
    }
    &__form-input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $blue3;
        color: $grey2;
        &::placeholder {
            color: $grey5;
            font-style: italic;
        }
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
        &:focus {
            outline: none;
        }
    }
    &__form-btn {
        position: absolute;
        right: 24px;
        color: $blue3;
        cursor: pointer;
    }
    &-nav {
        padding-bottom: 30px;
    }
    & .dropdown-toggle {
        cursor: pointer;
    }
    & .dropdown-menu {
        border: none;
        border-radius: 0;
        & .dropdown-menu {
            box-shadow: -2px 0 3px 3px rgba(50, 50, 50, 0.2);
        }
    }
    & .dropdown-item {
        border-radius: 0;
        padding: 0.5rem 0 0.5rem 0.7rem;
        //display: flex;
        //flex-direction: column;
        //align-items: center;
        & .angle-right {
            font-size: 10px;
            margin-left: 8px;
            color: $blue6;
            height: 10px;
        }
    }
    & .dropdown:hover>.dropdown-menu {
        display: block;
    }
    & .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
    & .dropdown-toggle::after {
        display: none;
    }
}

.marginleftfix {
    margin-left: 0 !important;
}

.logo {
    flex-grow: 1;
    /*margin-left: 18px;*/
    & img {
        max-height: 48px;
        margin-left: 16px;
    }
}

ul.navbar-nav .on-hover {
    background-color: $blue3;
    & a.nav-link {
        color: $red5;
    }
    & ul {
        background-color: $blue3;
        & a {
            color: $blue6;
        }
        & li:hover {
            background-color: #0662A2;
            &>a,
            >.angle-right {
                color: $red5;
            }
        }
    }
}

.nav-link {
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 22px;
    font-weight: 300;
}

//end 320-480px
@media (min-width: 768px) {
    .header {
        max-height: 90px;
    }
    .navbar {
        height: 90px;
        &-collapse {
            top: 90px;
        }
        &-icon {
            margin-left: 20px;
        }
        & i {
            font-size: 18px;
        }
        .logo {
            flex-grow: 0;
            img {
                max-height: 60px;
                transition: 0.5s;
            }
        }
    }
}

//end media 768px
@media (min-width: 1000px) {
    .navbar {
        height: 120px;
        transition: 0.5s;
        & .dropdown-item {
            border-radius: 0;
            padding: 0.5rem 1.5rem;
            display: flex;
            align-items: center;
            flex-direction: unset;
            & .angle-right {
                font-size: 10px;
                margin-left: 8px;
                color: $blue6;
                height: 10px;
            }
        }
        &-collapse {
            display: unset;
            width: unset;
            position: unset;
            transform: translateX(0);
            background-color: #fff;
            transition: unset;
            flex-basis: unset;
        }
        & .lang__block,
        &__sett {
            display: none;
            font-size: 28px;
        }
        &__form {
            width: 0px;
            position: absolute;
            right: 50px;
            top: -81px;
            transition: all 500ms;
            opacity: 0;
            &.active {
                width: 300px;
                position: absolute;
                right: 50px;
                top: -45px;
                transition: all 500ms;
                opacity: 1;
            }
        }
        & .logo img {
            max-height: 90px;
            transition: 500ms;
        }
    }
    .nav-item:last-child .nav-link {
        padding-right: unset;
    }
    // .navbar .dropdown-toggle:not(.nav-link)::after {
    //     display: inline-block;
    //     width: 0;
    //     height: 0;
    //     margin-left: .5em;
    //     vertical-align: 0;
    //     border-bottom: .3em solid transparent;
    //     border-top: .3em solid transparent;
    //     border-left: .3em solid;
    // }
}

@media (min-width: 1000px) {
    .header {
        max-height: 120px;
        &__social {
            display: flex;
            position: absolute;
            right: 0;
            top: 11px;
            z-index: 99999;
            transition: 0.5s;
        }
        &__social-icons {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }
        &__social-icon i {
            color: $blue3;
            padding: 0 6px;
            z-index: 99999;
            display: inline-block;
            font-size: 18px;
        }
    }
}

//end media 1000px
.scroll_page {
    & .navbar {
        height: 60px;
        transition: 0.5s;
    }
    & .logo img {
        max-height: 40px;
        transition: 0.5s;
    }
    & .header__social {
        top: -49px;
    }
}

.lang {
    outline: none;
    cursor: pointer;
    &:focus {
        border: none;
        outline: none;
    }
    &__block {
        position: relative;
        & .lang {
            display: flex;
            border: none;
            font-size: 15px;
            color: $blue3;
            box-shadow: none;
            padding: 0 5px;
            transition: .5s;
            &__angle-bottom {
                transform: rotate(90deg);
                margin: 5px;
                font-size: 12px;
                transition: .3s;
            }
            // & .arrow-down{
            //     margin-left: 9px;
            //     font-size: 20px;
            //     transition: .3s;
            //     position: relative;
            //     width: 12px;
            //     height: 6px;
            //     top: 9px;
            //     & span:first-child, :last-child{
            //         content: '';
            //         width: 2px;
            //         height: 7px;
            //         position: absolute;
            //         display: block;
            //     }
            // }
            & text {
                text-transform: uppercase;
                font-size: 13px;
                margin-right: 10px;
            }
        }
        & .slideDown .lang__angle-bottom {
            transform: rotate(270deg);
            transition: .3s;
        }
    }
    &__drop {
        display: flex;
        flex-direction: column;
        opacity: 0;
        position: absolute;
        z-index: 3;
        max-height: 0;
        overflow: hidden;
        left: 0;
        width: 100%;
        top: 24px;
        transition: .3s;
        &.open {
            opacity: 1;
            max-height: 999px;
        }
        & a {
            padding: 8px 8px;
            text-align: center;
            transition: .3s all;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid $blue3;
            font-size: 13px;
            font-weight: 500;
            color: $blue3;
            background-color: $blue6;
            &:hover {
                background-color: $blue3;
                color: $red5;
            }
            &.active {
                display: none;
            }
        }
    }
}