.rnpp_infographics{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    &_cont{
        width:100%;
    }
    &_line{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:8px 0;
    }
    &_block {
        height:50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 12px;
        &-right{
            display: flex;
            justify-content: flex-end;
        }
    }
    &_text{
        font-size: 20px;
        color:white;
        font-weight: 400;
        line-height: 115%;
    }
    &_text-count{
        font-size: 30px;
        color:white;
        font-weight: 700;
    }
    
    @media(max-width:1000px){
        &_block {
            // height:40px;
            padding:0 10px;
        }
        &_text{
            font-size: 18px;
        }
        &_text-count{
            font-size: 26px;
        }
    }

    @media(max-width:500px){
        &_block {
            height:40px;
            padding:0 8px;
        }
        &_text{
            font-size: 16px;
        }
        &_text-count{
            font-size: 18px;
        }
    }
}