@import "_about_menu";
@import "_rnpp_lightbox";
.block {
    &:nth-child(2n) {
        background-color: rgb(240, 240, 240);
    }
    &-title {
        padding: 20px;
        font-size: 18px;
        cursor: pointer;
        &.show {
            font-weight: 700;
            color: $blue4;
        }
        & span {
            margin-left: 10px;
            pointer-events: none;
        }
        & .angle-down {
            display: inline-block;
            pointer-events: none;
            transform: rotate(90deg);
            transition: 350ms;
            font-size: 12px;
            &.show {
                transform: rotate(270deg);
                font-weight: 700;
            }
        }
        @media (max-width:768px) {
            font-size: 20px;
        }
    }
    &-content {
        padding-left: 20px;
        &.content-hidden {
            display: none;
        }
        @media (max-width:768px) {
            padding-left: 0;
            margin: 0 10px;
        }
        & .info {
            & p,
            li,
            span {
                font-size: 16px;
                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }
        }
        & .presentations {
            &>a {
                display: block;
                padding: 10px;
                color: $blue3;
                font-size: 16px;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 20px;
                }
                &:hover {
                    color: $blue4;
                    text-decoration: underline;
                }
                @media (max-width:768px) {
                    font-size: 18px;
                }
            }
        }
        & .zaput {
            & label,
            span {
                font-size: 16px;
                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }
            & label {
                margin-left: 10px;
            }
        }
        & .accreditation {
            &>div {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 10px 0;
                font-size: 16px;
                & span {
                    width: 25%;
                }
                & select {
                    font-size: 16px;
                    width: 200px;
                }
                & input,
                select,
                textarea {
                    border: 1px solid $grey5;
                    color: $grey2;
                    padding: 4px;
                    font-size: 16px;
                }
                @media (max-width:768px) {
                    font-size: 18px;
                    & input,
                    select,
                    textarea {
                        font-size: 18px;
                    }
                }
                @media (max-width:900px) {
                    margin: 20px 0;
                    padding-left: 0;
                    flex-direction: column;
                    & span {
                        width: 100%;
                    }
                    & input,
                    select,
                    textarea {
                        width: 100%;
                        padding: 8px;
                    }
                }
            }
            &>span {
                font-size: 16px;
                & a {
                    font-size: 16px;
                }
                @media (max-width:768px) {
                    font-size: 18px;
                    & a {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}