@import "_colors";

.allnews {
    &__block {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        &.gallery {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 40px 0;
        }
    }
    &__head-btn {
        display: flex;
        justify-content: flex-end;
        color: $blue3;
        cursor: pointer;
        & li {
            margin: 0 4px;
            font-size: 20px;
            padding: 4px;
            display: flex;
            align-items: center;
            &.news-type{
                width: 18px;
            }
        }
    }
    &__btn button{
        margin: 60px auto;
    }
}

.news__block {
    margin-top: 20px;
    cursor: pointer;
    &:hover {
        background-color: #eeeeee;
    }
    &.list {
        /*fas fa-bars*/
        margin-top: 20px;
    }
    &.th-list {
        /*fas fa-th-list*/
        margin-top: 20px;
    }
    &.gallery {
        width: 33.33%;
        padding: 10px;
        & .news__block-img {
            width: 100%;
            float: none;
            margin-right: 8px;
            & img {
                width: 100%;
            }
        }
        & .news__block-short-news {
            display: none;
        }
        & .news__block-title {
            height: 60px;
            margin-bottom: 16px;
            font-weight: 300;
        }
    }
    &-img {
        float: left;
        margin-right: 8px;
        & img {
            width: 200px;
        }
    }
    &-title {
        font-size: 20px;
        font-weight: 500;
    }
    &-short-news {
        margin: 0 0 20px 0;
    }
    &-footer {
        display: flex;
        justify-content: space-between;
        text-align: right;
        color: #999999;
        margin: 0 10px;
    }
}
