@import "_colors";
@import "_rnpp_lightbox";
.awards {
    display: flex;
    justify-content: space-between;
    &__list {
        width: 66%;
        & ul {
            margin-bottom: 40px;
            & li {
                cursor: pointer;
                &:hover {
                    color: $blue4;
                }
            }
        }
    }
    &__view {
        width: 33%;
        position: relative;
        & img {
            position: sticky;
            top: 200px;
            left: 0;
            width: 100%;
        }
    }
    &-title{
        font-size: 24px;
        display: block;
        font-weight: 600;
        color: #74d2e7;
    }

    @media(max-width: 999px){
        .awards {
            &__view {
                display: none;
            }
            &__list {
                width: 100%;
                & li{
                    pointer-events: none;
                }
            }
            &-title {
                font-size: 20px;
            }
        } 
    }
}