@import "_colors";
.why {
    & img {
        padding-top: 20px;
        margin: 0 auto;
    }
    & b {
        pointer-events: none;
    }
}
.fact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 40px 0;
    background-color: $green1;
    &__title {
        width: 100px;
        font-size: 24px;
        color: $blue6;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding-right: 10px;
    }
    &__text {
        padding-left: 10px;
        font-style: italic;
        color: $blue6;
        & ul {
            margin: 0;
        }
    }
}

.why_title {
    font-size: 30px;
    margin-bottom:20px;
    display: block;
    font-weight: 900;
    color: $blue5;
}