@import "_colors";
section {
    position: relative;
}

.body__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    //display: none;
    background-color: $blue3;
    opacity: 0;
    z-index: 100;
    left: -110vw;
    transition: opacity .5s linear .2s;
}


/*----slider start----*/

.head-slider {
    &__item {
        width: 100%;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: top center;
        background-position: 50% 0%;
        position: relative;
        overflow: hidden;
    }
    &__text {
        height: 200px;
        position: absolute;
        margin: auto;
        z-index: 2;
        @media(min-width: 320px) {
            left: 5%;
            bottom: 12%;
        }
        @media(min-width: 540px) {
            left: 5%;
            bottom: 20%;
        }
        @media(min-width: 1000px) {
            left: 10%;
            bottom: 25%;
        }
        @media(min-width: 1000px) {
            left: 7%;
            bottom: 25%;
        }
        & span {
            font-family: Gotham Pro;
            font-weight: 700;
            // font-style: italic;
            line-height: 115%;
            color: $red6;
            @media(min-width: 320px) {
                font-size: calc(32px + 24*((100vw - 320px)/280));
            }
            @media(min-width: 600px) {
                font-size: 60px;
            }
            @media(min-width: 1000px) {
                font-size: calc(60px + 12*((100vw - 1000px)/280));
                letter-spacing: 3px;
            }
            @media(min-width: 1280px) {
                font-size: calc(72px + 18*((100vw - 1280px)/640));
                letter-spacing: 4px;
            }
            @media(min-width: 1920px) {
                font-size: 90px;
                letter-spacing: 5px;
            }
        }
    }
    &__overlay {
        background-image: url(../images/img/grid.png);
        height: 100vh;
        width: 100%;
        position: absolute;
        opacity: 0.3;
    }
    & .slick-track {
        top: 60px;
        height: 100%;
    }
    & .slick-dots {
        width: 100%;
        position: absolute;
        bottom: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 10;
        justify-content: center;
        & li button {
            font-size: 0;
            background-color: transparent;
            border: none;
            padding: 5px;
            cursor: pointer;
            &::before {
                content: "";
                width: 32px;
                height: 12px;
                border: 2px solid #fff;
                /*border-radius: 50%;*/
                display: inline-block;
            }
        }
    }
    & li.slick-active button::before {
        background-color: #fff;
    }
}


/*----head-slider end----*/


/*----info start----*/

.info {
    // display: grid;
    display: none;
    max-height: 600px;
    overflow: hidden;
    &>div {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: auto;
        grid-column-end: auto;
    }
    & .slick-slide img {
        height: auto;
        @media(min-width: 1280px) {
            height: 300px;
        }
    }
    & .slick-track,
    & .slick-list,
    & .slick-slide>div {
        height: 100%;
    }
    &__parallax-slider {
        height: 100%;
        width: 100vw;
    }
    &__parallax-item {
        background-attachment: fixed;
        background-size: cover;
        max-height: 550px;
        min-height: 20px;
        height: 100%;
        width: 100%;
    }
    &__container-content {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    &__parallax-content {
        margin: 0;
        max-height: 550px;
        max-width: 1280px;
        @media(max-width: 1280px) {
            max-width: calc(100vw - 15px);
        }
    }
    &__block {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #info-items-slider_container{
        padding-bottom:80px;
    }
    &__item {
        width: 100%;
        max-width: 1240px;
        max-height: 300px;
    }
    &__statistic {
        width: 100%;
        height: 100%;
        max-height: 300px;
        line-height: 115%;
        display: flex;
        justify-content: space-between;
        &-item {
            display: inline-flex;
            height: 100%;
            width: 32%;
            margin: 0;
            color: white;
            justify-content: center;
            @media(min-width: 768px) {
                width: 32.5%;
            }
            @media(min-width: 1240px) {
                width: 33%;
            }
        }
        &-content {
            & .text,
            & .odin {
                font-weight: 500;
                font-style: italic;
            }
            & .pokaz {
                font-weight: 900;
                margin-right: 10px;
            }
            @media(min-width: 768px) {
                max-width: calc(94% - 14*((100vw - 768px)/512));
                & .odin {
                    font-size: calc(12px + 4*((100vw - 768px)/512));
                }
                & .pokaz {
                    font-size: calc(16px + 4*((100vw - 768px)/512));
                }
            }
            @media(min-width: 1280px) {
                max-width: 80%;
                & .odin {
                    font-size: 16px;
                }
                & .pokaz {
                    font-size: 20px;
                }
            }
        }
        &_title {
            display: block;
            text-transform: uppercase;
            font-weight: 400;
            @media(min-width: 768px) {
                font-size: calc(16px + 4*((100vw - 768px)/512));
                padding-top: calc(20px + 10*((100vw - 768px)/512));
                padding-bottom: calc(10px + 6*((100vw - 768px)/512));
            }
            @media(min-width: 1280px) {
                font-size: 20px;
                padding: 30px 0 16px 0;
            }
        }
    }
}


/*----info end----*/


/*----widget start----*/

.widget {
    & .slick-dots {
        display: flex;
        position: absolute;
        width: 100%;
        top: 0;
        margin-left: -12px;
        & li button {
            width: calc(100vw/3);
            height: 60px;
            &::before {
                content: "";
                background: white;
                position: absolute;
                z-index: 1;
                top: 0;
                left: unset;
                width: calc(100vw/3);
                height: 3px;
                transform-origin: 0 100%;
                transition-property: transform;
                transition-duration: 0.1s;
                transition-timing-function: ease-out;
                transform: translateX(calc(-100vw/6)) scaleX(0);
            }
            &:hover:before {
                transform: translateX(calc(-100vw/6)) scaleX(1);
            }
            @media (max-width: 480px) {
                height: 50px;
            }
        }
        & li.slick-active button {
            &::before {
                transform: translateX(calc(-100vw/6)) scaleX(1);
            }
        }
    }
    & span {
        padding-bottom: 2px;
        padding-left: 2px;
    }
    background-color: $green1;
    color: #fff;
    &__co2 {
        @media (max-width: 768px) {
            padding-bottom: 4px;
        }
    }
    & button.prev {
        font-size: 12px;
        position: absolute;
        right: 24px;
        top: 16px;
        width: 20px;
        height: 20px;
        text-align: center;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & button.next {
        font-size: 12px;
        position: absolute;
        right: 5px;
        top: 16px;
        width: 20px;
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__slider {
        padding-top: 64px;
        & .text,
        & .odin {
            font-size: 12px;
            font-weight: 400;
            font-style: italic;
        }
        & .pokaz {
            font-size: 20px;
            font-weight: 900;
            margin-right: 10px;
            line-height: 1.2;
        }
    }
    &__slider-title {
        font-size: 18px;
        line-height: 1.2;
        display: inline-block;
        text-transform: uppercase;
        padding: 0 0 16px 0;
        &:not(:first-child) {
            padding-top: 16px;
        }
    }
    // & .slick-track>div {
    //     padding-top: 30px;
    // }
    @media(min-width: 480px) {
        &__slider-title {
            font-size: 22px;
        }
        & .text {
            font-size: 22px;
        }
        & .pokaz {
            font-size: 22px;
            font-weight: 400;
        }
        & .odin {
            font-size: 18px;
        }
        & .slick-track>div {
            padding-top: unset;
        }
    }
    @media(min-width: 768px) {
        & {
            position: absolute;
            top: 50vh;
            right: 0;
            margin-top: -110px;
            // transform: translateX(328px);
            width: 0px;
            transition: all 0.5s;
        }
        &__slider {
            margin: 0px;
            padding: 12px 0;
        }
        &__title {
            display: none;
        }
        & .slick-dots {
            position: absolute;
            top: 0;
            left: -80px;
            width: 60px;
        }
        .slick-track {
            width: 864px!important;
        }
        .slick-slide {
            width: 288px!important;
        }
        & .text {
            font-size: 16px;
        }
        & .pokaz {
            font-size: 22px;
            font-weight: 500;
        }
        & .odin {
            font-size: 16px;
        }
        & .slick-dots {
            display: block;
            margin-left: 0px;
            & li button {
                width: 60px;
                height: 60px;
                &::before {
                    content: "";
                    background: white;
                    position: absolute;
                    opacity: 0;
                    z-index: 1;
                    left: 0;
                    top: unset;
                    width: 4px;
                    height: 60px;
                    transform-origin: 0 100%;
                    transition-property: transform;
                    transition-duration: 0.1s;
                    transition-timing-function: ease-out;
                    transform: translateY(-30px) scaleY(0);
                }
                &:hover:before,
                &:focus:before {
                    transform: translateY(-30px) scaleY(1);
                    opacity: 1;
                }
            }
            & li.slick-active button {
                &::before {
                    transform: translateY(-30px) scaleY(1);
                }
            }
        }
    }
}

#slick-slide-control00 {
    background-color: $green1;
    background-image: url(../images/svg/widget_battery.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    font-size: 0;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    @media (max-width: 480px) {
        background-size: 30px;
    }
}

#slick-slide-control01 {
    background-color: $green4;
    background-image: url(../images/svg/widget_lyst.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    font-size: 0;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    @media (max-width: 480px) {
        background-size: 30px;
    }
}

#slick-slide-control02 {
    background-color: $blue4;
    background-image: url(../images/svg/widget_cloud.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    font-size: 0;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    @media (max-width: 480px) {
        background-size: 34px;
    }
}


/*----widget end----*/


/*----about start----*/

.about {
    & p {
        margin-bottom: 10px;
    }
    &__wrap {
        background-color: $blue3;
        display: flex;
        justify-content: start;
        position: relative;
    }
    &__wrap::before {
        content: '';
        min-width: 50%;
        background-image: url(../images/img/about.jpg);
        background-size: cover;
        transform: scale(-1, 1);
        display: none;
    }
    &__content {
        padding: 0 15px;
        color: #fff;
        position: relative;
    }
    &__text {
        font-size: 16px;
    }
    @media(min-width: 768px) {
        &__wrap::before {
            display: block;
        }
        &__content {
            padding: 0 36px 0 36px;
            max-width: 635px;
        }
    }
    // @media(min-width: 1280px) {
    //     &__text {
    //         font-size: 16px;
    //     }
    // }
}


/*----about end----*/


/*----news start----*/

.news {
    &__slider {
        display: flex;
        justify-content: space-between;
    }
    &__items {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 1280px;
        margin: o auto;
        border: 1px solid #F5F5F5;
        background-clip: padding-box;
        &:hover {
            box-shadow: 0px 3px 5px 3px rgba(50, 50, 50, 0.1);
        }
    }
    &__item {
        background-color: #fff;
        position: relative;
        cursor: pointer;
        &-type {
            position: absolute;
            top: 0;
            right: 0;
            height: 24px;
            color: white;
            font-size: 16px;
            padding: 0px 6px;
            display: flex;
            align-items: center;
            & i {
                margin-right: 6px;
                font-size: 12px;
            }
        }
        &.anons {
            &:hover {
                &::after {
                    content: "";
                    width: 100%;
                    height: 8px;
                    background-color: $green1;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        &.important {
            &:hover {
                &::after {
                    content: "";
                    width: 100%;
                    height: 8px;
                    background-color: $red3;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        &.video {
            &:hover {
                &::after {
                    content: "";
                    width: 100%;
                    height: 8px;
                    background-color: $red1;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        &.simplenews {
            &:hover {
                &::after {
                    content: "";
                    width: 100%;
                    height: 8px;
                    background-color: $blue3;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        &.newspaper {
            &:hover {
                &::after {
                    content: "";
                    width: 100%;
                    height: 8px;
                    background-color: $blue4;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
    &__item-title {
        height: 110px;
        & h3 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            color: $grey3;
            padding: 10px;
        }
    }
    &__item-date {
        color: $grey5;
        position: absolute;
        right: 20px;
        bottom: 15px;
        font-size: 16px;
    }
    &__item-img {
        display: block;
        height: 250px;
        width: 100%;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-position: 50% 50%;
    }
    @media(min-width: 1000px) {
        &__items {
            width: 32.5%;
        }
    }
}


/*----news end----*/


/*----why start----*/

.why {
    background-color: $green1;
    &__wrap{
        padding-bottom: 80px;
    }
    &__items {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    &__item {
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        padding: 10px;
        color: #fff;
        outline: none;
        &-icon {
            margin: -5px 15px 0 0;
            display: inline-block;
            text-align: center;
            &-img {
                background-size: 55px;
                max-width: 55px;
                height: 50px;
            }
        }
        &-title h3 {
            color: #fff;
            margin: 0 0 8px 0;
            font-family: 'Gotham Pro';
            text-transform: uppercase;
            @media (max-width: 768px) {
                margin-bottom: 4px;
            }
            @media (max-width:480px) {
                margin-bottom: 2px;
            }
        }
        &-text {
            color: #fff;
        }
    }
    @media(min-width: 768px) {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        &__item-icon-img {
            background-size: 75px;
            max-width: 75px;
            height: 70px;
        }
    }
    @media(min-width: 1000px) {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
        &__item {
            // https://codepen.io/Toomean/pen/xLhpg
            // &:before {
            //     transform: translateX(100%);
            //     content: '';
            //     position: relative;
            //     bottom: 0;
            //     left: 0;
            //     width: 99.5%;
            //     height: 2px;
            //     border-bottom: 2px solid transparent;
            //     border-left: 2px solid transparent;
            // }
            // &:after {
            //     transform: translateX(-100%);
            //     content: '';
            //     position: relative;
            //     top: 0;
            //     left: 0;
            //     width: 99.5%;
            //     height: 2px;
            //     border-top: 2px solid transparent;
            //     border-right: 2px solid transparent;
            // }
            // &:hover {
            //     color: inherit;
            //     text-decoration: none;
            //     &:before {
            //       transition: .1s transform linear, .1s height linear .1s;
            //       transform: translateX(0);
            //       height: 100%;
            //       border-color: white;
            //     }
            //     &:after {
            //       transition: .1s transform linear .2s, .1s height linear .3s;
            //       transform: translateX(0);
            //       height: 100%;
            //       border-color: white;
            //     }
            // }
        }
    }
}


/*----why end----*/


/*----gromadi start----*/

.people {
    &__wrap {
        max-height: 1280px;
        padding-bottom: 40px;
    }
    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        height: 100%;
        &:hover &-img {
            transform: scale(1.1);
        }
        &-img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: .5s;
        }
        &-title {
            text-align: center;
            color: #fff;
            position: absolute;
            right: 16px;
            bottom: 16px;
            padding: 2px 8px;
            pointer-events: none;
            & h3 {
                font-weight: 400;
            }
        }
        &-padding {
            height: 240px;
            position: relative;
            margin-bottom: 1.125%;
            width: 100%;
        }
    }
    @media (min-width: 768px) {
        &__item-padding {
            width: 48.5%;
        }
    }
    @media (min-width: 1000px) {
        &__item-padding {
            width: 32.5%;
        }
    }
}


/*----gromadi end----*/

.section-top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & .btn-arrow-container {
        display: flex;
    }
    @media(min-width: 1000px) {
        & .btn-arrow-container {
            display: none;
        }
    }
}