.employee {
    & .info {
        & img {
            width: 100%;
            @media (min-width: 1000px) {
                width: 33%;
                float: right;
                margin: 0 0 8px 8px;
            }
        }
    }
    & .zber-zdorovia_list,
    .mat-dopomoga_list {
        display: none;
    }
}