@import "_colors";
@import "_rnpp_lightbox";
@import "page_article_fixed"; 

.whiteLake, 
.whiteLakePay {
    margin: 12px 0;
    display: none;
}
.info {
    margin: 20px 0 80px 0;
}

.rest_phones {
    display: flex;
    flex-direction: column;
    &>div {
        padding: 8px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        &:nth-child(2n+1) {
            background-color: $grey6;
        }
        & span {
            &>span {
                font-size: 12px!important;
                line-height: 24px;
            }
        }
        @media(max-width:600px) {
            flex-direction: column;
            & .rest_phone {
                text-align: end;
                font-weight: 500;
            }
        }
    }
}