@import "_styles";
@import "_header";
@import "_footer";
.leaders {
  display: flex;
  flex-wrap: wrap;
}

.leader {
  width: 33%;
  // height: 200px;
  padding: 12px;
  &__img {
    width: 100%;
  }
  &:first-child,
  &:nth-child(2) {
    width: 100%;
  }
  &__name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  &__info {
    color: $grey3;
  }
}
