.awards {
    display: flex;
    justify-content: space-between;
    &__list {
        width: 66%;
    }
    &__view {
        width: 33%;
        position: relative;
        & img {
            position: sticky;
            top: 200px;
            left: 0;
            width: 100%;
        }
    }
}