@import '_styles';
@import "_header";
@import "_footer";
.allabout {
    &__block {
        position: relative;
    }
    &__title h2 {
        font-weight: 300;
    }
    &__menu {
        position: sticky;
        left: 0;
        top: 120px;
        float: left;
        z-index: 1005;
        padding-left: 24px;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            display: inline-block;
            width: 3px;
            height: 24px;
            background-color: #005B99;
        }
        &-submenu {
            margin-top: 16px;
        }
        & .active {
            color: #005B99;
        }
        &>ul {
            margin: 32px 0 0 0;
            padding: 0;
        }
        & li {
            list-style: none;
        }
        & h3 {
            font-size: 18px;
        }
    }
    &__content {
        margin-left: 300px;
        height: 55vh;
        & p {
            padding: 0 0 24px 0;
        }
    }
}