@import "_about_menu";

.block {
    &-title {
        padding: 20px;
        cursor: pointer;
        & span {
            margin-left: 10px;
            pointer-events: none;
        }
        & .angle-down {
            display: inline-block;
            pointer-events: none;
            transform: rotate(90deg);
            transition: 350ms;
            font-size: 12px;
            &.show{
                transform: rotate(270deg);
            }
        }
    }
    &-content{
        padding-left: 20px;
        &.content-hidden{
            display: none;
        }
    }
}