@import "_colors";

.r5__bg-img {
    background-image: url('../images/img/r5/build.jpg');
    background-size: cover;
    background-position: bottom;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    touch-action: none;
}
.article {
    & p {
        padding-top: 20px;
    }
    padding-top: 60px;
    & .container_r5 {
        touch-action: none;
        position: relative;
        width: 100%;
        height: 600px;
        & .big_text{
            font-size: 8vw;
            text-transform: uppercase;
            font-weight: 900;
            color: white;
            line-height: 115%;
            text-shadow: 2px 2px rgba(50, 50, 50, 0.3);
            padding:8px;
            margin:0;
            &_cont{
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translate(-50%, 0);
                padding: 10px;
                border: 2px solid white;
                box-shadow: 0 2px 4px -2px rgba(50, 50, 50, 0.5);;
                &-fixed{
                    position: fixed;
                    top: 330px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    bottom: auto;
                }
            }
        }
    }
    &__container {
        margin:0 auto;
        margin-left: auto;
        background-color: white;
        padding: 12px;
        & .r5_title{
            color: $blue5;
            font-weight: 900;
            font-size: 30px;
        }
        & .info {
            max-width: 1000px;
            margin:0 auto;
            padding:20px 0;
        }
    }
   
    @media(min-width: 768px){
        padding-top: 90px;
        & .container_r5 {
            height: 600px;
            & .big_text{
                &_cont{
                    bottom: 40px;
                    &-fixed{
                        top: 390px;
                        bottom: auto;
                    }
                }
            }
        }
        &__container {
            margin:0 auto 200px auto;
            margin-left: auto;
            background-color: white;
            padding: 40px;
            & .r5_title{
                color: $blue5;
                font-weight: 900;
                font-size: 30px;
            }
            & .info {
                max-width: 1000px;
                margin:0 auto;
                padding:0;
            }
        }
    }
    @media(min-width:1000px){
        padding-top: 120px;
        & .container_r5 {
            height: 600px;
            & .big_text{
                font-size: 90px;
                &_cont{
                    bottom: 40px;
                    &-fixed{
                        top: 430px;
                        bottom: auto;
                    }
                }
            }
        }
        &__container {
            margin:0 auto 200px auto;
            margin-left: auto;
            background-color: white;
            padding: 40px;
            & .r5_title{
                color: $blue5;
                font-weight: 900;
                font-size: 30px;
            }
            & .info {
                max-width: 1000px;
                margin:0 auto;
                padding:20px 0;
            }
        }
    }
    @media(min-width:1280px){
        & .big_text{
            font-size: 90px;
        }
    }
}

blockquote.quote {
    background-color: $blue6;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 40px;
    padding: 0 18px;
    font-style: italic;
    & .info {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding:20px 0;
        & .quote-svg {
            width:30px;
            height:30px;
            position: absolute;
            transform: translateX(calc(50vw - 27px)) rotate(360deg);
        }
        & .quote-text {
            padding: 50px 0 0 0;
            & span {
                display: block;
                font-weight: 500;
                color: $grey2;
                &.quote-author{
                    padding-top: 40px;
                    font-style: normal;
                    text-align: right;
                    font-weight: 400;
                    color: $grey1;
                }
            }
        }
        & .quote-img {
            display: none;
        }
    }
    @media(min-width:768px){
        margin-left: calc(-50vw + 50%);
        margin-top: 60px;
        padding: 0 40px;
        & .info {
            & .quote-svg {
                width:30px;
                height:30px;
                transform: rotate(360deg);
            }
            & .quote-text {
                padding: 0 30px 0 60px;
                & span {
                    &.quote-author{
                        padding-top: 40px;
                    }
                }
            }
            & .quote-img {
                display: block;
                width: 250px;
                min-width:250px;
                height: 225px;
                & div {
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
    @media(min-width:1000px){
        margin-left: calc(-50vw + 50%);
        margin-top: 60px;
        padding: 0 40px;
        & .info {
            & .quote-svg {
                width:40px;
                height:40px;
            }
            & .quote-text {
                padding-left: 80px;
                padding-right: 40px;
                & span {
                    &.quote-author{
                        padding-top: 40px;
                    }
                }
            }
            & .quote-img {
                width: 300px;
                min-width:300px;
                height: 270px;
            }
        }
    }
   
}

.container_changed {
    padding:0;
    overflow:hidden;
}

footer.footer {
    @media(max-width:767px){
        margin-top: 0;
    }
}