@import "_colors";
@import "_rnpp_lightbox";
@import "_rnpp_content_hidder";
.article-fixed {
    & p,
    img {
        padding-top: 20px;
    }
    ul {
        margin-bottom: 0;
    }
    li {
        margin: 5px 0;
    }
    padding-top: 60px;
    @media(min-width: 768px) {
        padding-top: 90px;
    }
    @media(min-width:1000px) {
        padding-top: 120px;
    }
    & .article__container {
        max-width: 1280px;
        margin: 20px auto 60px auto;
        @media(min-width: 1000px) {
            padding-bottom: 100px;
        }
    }
    & .container-fixed {
        position: relative;
        width: 100%;
        & .article__img {
            height: 400px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            background-attachment: fixed;
            &-overlay {
                background-image: url(../images/img/grid.png);
                height: 400px;
                width: 100%;
                position: absolute;
                opacity: 0.3;
                top: 0;
            }
            @media(min-width: 768px) {
                height: 500px;
                &-overlay {
                    height: 500px;
                }
            }
            @media(min-width:1000px) {
                height: 600px;
                &-overlay {
                    height: 600px;
                }
            }
        }
        &__title {
            position: absolute;
            bottom: 8%;
            left: 0;
            right: 0;
            text-align: left;
            overflow: hidden;
            padding: 0 12px;
            & span {
                line-height: 115%;
                color: white;
                font-size: 24px;
                font-weight: 600;
                text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
                &.big_text {
                    font-size: 7vw;
                    text-transform: uppercase;
                    font-weight: 900;
                    line-height: 115%;
                    position: relative;
                }
            }
            @media(min-width:768px) {
                & span {
                    font-size: 28px;
                    &.big_text {
                        // font-size: 72px;
                        line-height: 115%;
                        top: 0;
                    }
                }
            }
            @media(min-width:1000px) {
                padding: 0 20px;
                bottom: 10%;
                margin: 0 auto;
                & span {
                    font-size: 30px;
                }
            }
            @media(min-width:1280px) {
                max-width: 1280px;
                & span {
                    font-size: 32px;
                    &.big_text {
                        font-size: 90px;
                    }
                }
            }
        }
    }
}

.whiteLake,
.whiteLakePay,
.sportComplex,
.profession_list {
    margin: 12px 0;
    display: none;
}

.sport {
    &_item {
        padding: 20px 10px 15px 10px;
        margin: 0 -10px;
        &:hover {
            background-color: $grey6;
        }
    }
    &_title {
        font-size: 20px;
        font-weight: 700;
        color: $blue4;
    }
    &_subtitle {
        color: $grey3;
    }
    &_distance,
    &_location {
        color: $blue3;
    }
    &_table {
        & li {
            padding: 8px;
            display: flex;
            justify-content: space-between;
            &:nth-child(2n) {
                background-color: $grey6;
                // padding: 3px 0;
            }
        }
    }
}

.rest_phones {
    display: flex;
    flex-direction: column;
    &>div {
        padding: 8px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        &:nth-child(2n+1) {
            background-color: $grey6;
        }
        & span {
            &>span {
                font-size: 12px!important;
                line-height: 24px;
            }
        }
        @media(max-width:600px) {
            flex-direction: column;
            & .rest_phone {
                text-align: end;
                font-weight: 500;
            }
        }
    }
}