@import "_colors";
@import "_rnpp_lightbox";

.news {
    & p,
    img {
        padding-top: 20px;
    }
    &__container {
        max-width: 900px;
        width: 100%;
        // padding: 0 270px;
        margin-right: auto;
        margin-left: auto;
    }
    &__img {
        height: 800px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        color: $grey4;
        &-wrap {
            flex: 1;
        }
    }
    &__title {
        color: $blue3;
        h1 {
            font-weight: 400;
        }
    }
    &__quote {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-top:60px;
        margin-bottom:60px;
        background: $blue6;
        padding: 40px;
        font-style: italic;
        & .info {
            position: relative;
            display: flex;
            justify-content: space-between;
            & i {
                position: absolute;
                color: #41b6e6;
                font-size: 40px;
            }
            & .quote-text {
                padding-left: 80px;
                padding-right: 40px;
                & span {
                    display: block;
                    font-weight: 500;
                    color: $grey2;
                    &.quote-author{
                        padding-top: 40px;
                        font-style: normal;
                        text-align: right;
                        font-weight: 400;
                        color: $grey1;
                    }
                }
            }
            & .quote-img {
                width: 300px;
                min-width:300px;
                height: 270px;
                & div {
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        color: $grey2;
        
        &-tags {
            &>span {
                font-size: 18px;
                color: $grey4;
            }
            &>a {
                color: $grey4;
                border: 1px solid $grey4;
                padding: 6px;
                font-size: 14px;
                background-color: transparent;
                &:hover {
                    color: white;
                    border: 1px solid white;
                    background-color: $blue4;
                }
            }
        }
        &-autor {
            & span {
                color: $grey4;
                font-size: 18px;
                &.author{
                    color: $grey2;
                    font-size: 18px;
                }
            }
        }
    }
    &__social {
        font-size: 40px;
        color: $grey4;
        text-align: center;
        cursor: pointer;
        & i:hover{
            filter: invert(90%) sepia(90%) saturate(6233%) hue-rotate(193deg) brightness(70%) contrast(101%);
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        & button {
            margin-left: 0;
            & i{
                font-size:12px;
            }
        }
    }
    &__others {
        color: $grey4;
        &>span {
            font-size: 18px;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            margin: 15px 0 20px 0;
        }
        &-item {
            width: 30%;
            border: 1px solid $grey5;
            padding: 5px;
        }
        &-title {
            color: $blue3;
            & h5 {
                font-weight: 400;
                color: $blue3;
                font-size: 18px;
            }
        }
        &-footer {
            display: flex;
            justify-content: space-between;
        }
    }
}

