@import '_styles';
@import "_header";
@import "_footer";
 
.news{
    & p,img{
        padding-top: 20px;
    }
    &__container{
        max-width: 900px;
        width: 100%;
        // padding: 0 270px;
        margin-right: auto;
        margin-left: auto;
    }
    &__img{
        height: 800px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }
    &__head{
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        color: $grey4;
        &-wrap{
            flex: 1;
        }
    }
    &__title{
        color: $blue3;
        h1{
            font-weight: 400;
        }
    }
    &__quote{
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        background: $blue6;
        padding: 0 0 20px 0;
    font-style: italic;
        &-block{
            position: relative;
            display: flex;
            justify-content: space-between;
            &>i{
                position: absolute;
                left: -61px;
                top: 24px;
                color: $blue4;
                font-size: 40px;
            }
        }
        
        &-text{
            padding-top: 20px;
            font-size: 18px;
        }
               
    }
    &__img{
        &-slider{
            margin-top: 40px;
            &>.slick-dots{
                display: flex;
                position: absolute;
                left: 0;
                top: -30px;
                & button{
                    padding-right: 5px;
                    color: $grey2;
                }
                &::before{
                    content: "Фото";
                    padding-right: 16px;
                }
            }

        }
        &-slid{
            height: 500px;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }
    &__footer{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        color: $grey2;
        & a{
            color: $blue2;
            border: 1px solid $blue2;
            padding: 0 3px;
        }
        &-autor{
            font-style: italic;
            & span{
                font-style: normal;
            }
        }
    }
}