@import '_styles';
@import "_header";
@import "_footer";
@import "_about_menu";

.allabout {
    &__block {
        position: relative;
    }
    &__content {
        min-height: 550px;
        // margin-left: 300px;
        & p {
            padding: 0 0 24px 0;
        }
    }
    @media(min-width: 768px) {
        &__content {
            min-height: 550px;
            margin-left: 300px;
            & p {
                padding: 0 0 24px 0;
            }
        }
    }
}