@import "_colors";
@import "_about_menu";
@import "_rnpp_infographics"; 

.rnpp_team{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & span.rnpp_team-title {
        font-size: 24px;
        padding-bottom: 40px;
        color: $blue3;
        font-weight: 600px;
        @media(max-width:1000px){
            padding-bottom:20px;
        }
        @media(max-width:768px){
            font-size: 20px;
            padding-bottom:0;
        }
    }
    & img {
        width:100%;
        max-width: 600px;
        cursor: pointer;
    }
}

.rnpp_structura{
    padding:120px 0;
    width:100%;
    & img{
        width:100%;
        cursor: pointer;
    }
    @media(max-width:1000px){
        padding:90px 0;
    }
    @media(max-width:768px){
        padding:60px 0;
    }
}

