@font-face {
  font-family: 'rnpp-icons';
  src:  url('rnpp-icons.woff?ghoivp') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rnpp-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-announcement_full:before {
  content: "\e900";
  /* color: #5b5b5b; */
}
.icon-announcement:before {
  content: "\e901";
  /* color: #5b5b5b; */
}
.icon-bookmark_full:before {
  content: "\e902";
  /* color: #5b5b5b; */
}
.icon-bookmark:before {
  content: "\e903";
  /* color: #5b5b5b; */
}
.icon-calendar:before {
  content: "\e904";
  /* color: #727271; */
}
.icon-close:before {
  content: "\e905";
  /* color: #5b5b5b; */
}
.icon-eye_full:before {
  content: "\e906";
  /* color: #5b5b5b; */
}
.icon-eye:before {
  content: "\e907";
  /* color: #5b5b5b; */
}
.icon-facebook:before {
  content: "\e908";
  /* color: #5b5b5b; */
}
.icon-instagram:before {
  content: "\e909";
  /* color: #5b5b5b; */
}
.icon-left-arrow:before {
  content: "\e90a";
  /* color: #5b5b5b; */
}
.icon-news_full:before {
  content: "\e90b";
  /* color: #5b5b5b; */
}
.icon-news-bars:before {
  content: "\e90c";
  /* color: #5b5b5b; */
}
.icon-news-th-list:before {
  content: "\e90d";
  /* color: #5b5b5b; */
}
.icon-news-th:before {
  content: "\e90e";
  /* color: #5b5b5b; */
}
.icon-news .path1:before {
  content: "\e90f";
  /* color: rgb(84, 85, 86); */
}
.icon-news .path2:before {
  content: "\e910";
  margin-left: -1em;
  /* color: rgb(91, 91, 91); */
}
.icon-newspaper_full .path1:before {
  content: "\e911";
  /* color: rgb(84, 84, 84); */
}
.icon-newspaper_full .path2:before {
  content: "\e912";
  margin-left: -1em;
  /* color: rgb(84, 84, 84); */
}
.icon-newspaper_full .path3:before {
  content: "\e913";
  margin-left: -1em;
  /* color: rgb(91, 91, 91); */
}
.icon-newspaper_full .path4:before {
  content: "\e914";
  margin-left: -1em;
  /* color: rgb(91, 91, 91); */
}
.icon-newspaper_full .path5:before {
  content: "\e915";
  margin-left: -1em;
  /* color: rgb(91, 91, 91); */
}
.icon-newspaper_full .path6:before {
  content: "\e916";
  margin-left: -1em;
  /* color: rgb(91, 91, 91); */
}
.icon-newspaper:before {
  content: "\e917";
  /* color: #5b5b5b; */
}
.icon-right-arrow:before {
  content: "\e918";
  /* color: #5b5b5b; */
}
.icon-search:before {
  content: "\e919";
  /* color: #5b5b5b; */
}
.icon-telegram:before {
  content: "\e91a";
  /* color: #5b5b5b; */
}
.icon-twitter:before {
  content: "\e91b";
  /* color: #5b5b5b; */
}
.icon-video:before {
  content: "\e91c";
  /* color: #5b5b5b; */
}
.icon-youtube:before {
  content: "\e91d";
  /* color: #5b5b5b; */
}
