@font-face {
  font-family: 'rnpp-icons';
  src: url('rnpp-icons.woff?p6u6cy') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rnpp-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-news:before {  content: "\e912";}
.icon-news_full:before {  content: "\e90e";}
.icon-newspaper:before {  content: "\e914";}
.icon-newspaper_full:before {  content: "\e913";}
.icon-video:before {  content: "\e923";}
.icon-video_full:before {  content: "\e921";}
.icon-instagram:before {  content: "\e900";}
.icon-instagram_full:before {  content: "\e90c";}
.icon-youtube:before {  content: "\e901";}
.icon-youtube_full:before {  content: "\e922";}
.icon-announcement:before {  content: "\e903";}
.icon-announcement_full:before {  content: "\e902";}
.icon-bookmark:before {  content: "\e905";}
.icon-bookmark_full:before {  content: "\e904";}
.icon-calendar:before {  content: "\e906";}
.icon-eye:before {  content: "\e909";}
.icon-eye_full:before {  content: "\e908";}
.icon-facebook:before {  content: "\e90b";}
.icon-facebook_full:before {  content: "\e90a";}
.icon-left-arrow:before {  content: "\e90d";}
.icon-news-bars:before {  content: "\e90f";}
.icon-news-th-list:before {  content: "\e910";}
.icon-news-th:before {  content: "\e911";}
.icon-right-arrow:before {  content: "\e91b";}
.icon-search:before {  content: "\e91c";}
.icon-telegram:before {  content: "\e91e";}
.icon-telegram_full:before {  content: "\e91d";}
.icon-twitter:before {  content: "\e920";}
.icon-twitter_full:before {  content: "\e91f";}
.icon-close:before {  content: "\e907";}
